.archive-description {
	width: 100%;
	margin-bottom: $spacing--s;

	@include breakpoint(m) {
		margin-bottom: $spacing--m;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.archive-title {
	margin-bottom: 0;

	+ p {
		margin-top: $spacing--s;
	}
}
