.author-box {
	margin: $spacing--m auto;
	padding: $spacing--s;
	background-color: $author-box--background-color;
	font-size: smaller;

	@include clearfix;

	@include breakpoint(m) {
		padding: $spacing--m;
	}

	.single.full-width-content & {

		@include breakpoint(m) {
			width: calc(100% + (#{$spacing--m * 2}));
			transform: translateX(-$spacing--m);
		}
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.author-box-title {
	margin-bottom: $spacing--xs;
	font-size: $author-box-title--font-size;
	font-weight: $font-weight--semibold;
}

.author-box-content {

	@include breakpoint(xs) {
		padding-left: calc(7rem + #{$spacing--s});
	}
}
