.before-content.widget-area,
.after-content.widget-area {
	width: 100%;
	margin-bottom: $spacing--s;

	@include breakpoint(m) {
		margin-bottom: $spacing--m;
	}

	.widget,
	.custom-html-widget {
		text-align: center;
	}
}

.after-content.widget-area {
	margin-top: $spacing--m;
}
