.content {

	@include breakpoint(m) {
		width: $content--width;
		max-width: calc(100% - #{$sidebar--width} - #{$spacing--m});
	}

	.post-grid & {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.full-width-content.single & {

		@include breakpoint(m) {
			width: $breakpoint--xs;
		}
	}
}
