.hero-section {
	position: relative;
	padding: 12rem 0 6rem;
	color: $hero-section--color;
	background-color: $hero-section--background-color;
	background-position: center;
	background-size: cover;
	text-align: center;

	@include breakpoint(m) {
		padding: 16rem 0 10rem;
	}

	.has-nav-secondary & {

		@include breakpoint(m) {
			padding: 21rem 0 10rem;
		}
	}

	.wrap {
		position: relative;
		z-index: 1;
	}

	h1 {
		max-width: map-get($breakpoints, sm);
		margin: 0 auto 0.382em;

		@include breakpoint(m) {
			font-size: $hero-section__h1--font-size;
		}
	}

	p {
		max-width: map-get($breakpoints, sm);
		margin: 0 auto;
	}
}


.wp-custom-header {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	object-fit: cover;
	object-position: center;

	@include position(absolute 0 0 0 0);

	.woocommerce & img,
	img,
	video,
	iframe {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}

	iframe {
		position: absolute;
		top: -20%;
		right: -20%;
		bottom: -20%;
		left: -20%;
		width: 140%;
		min-width: 100%;
		max-width: 140%;
		height: 140%;
		min-height: 56.25vw; // 16:9 aspect ratio.
		max-height: none;
		margin: auto;
	}

	img {
		display: none;
	}
}

.wp-custom-header-video-button {
	display: none;
}

