.pagination {
	clear: both;
	width: 100%;
	margin-bottom: $spacing--s;
	font-family: $heading--font-family;

	@include breakpoint(m) {
		margin-bottom: 0;
	}
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination {

	li {
		display: inline;

		a {
			display: inline-block;
			padding: 0.5em 0.75em;
			color: $archive-pagination--font-color;
			background-color: $archive-pagination--background-color;
			font-size: $archive-pagination--font-size;
			font-weight: $font-weight--regular;
			text-decoration: none;
			cursor: pointer;
		}

		a:focus,
		a:hover,
		&.active a {
			color: $archive-pagination--font-color-hover;
			background-color: $archive-pagination--background-color-hover;
			box-shadow: none;
		}

	}

}

