/*
 * Theme Name: Passion Releve
 * Theme URI: https://maximelauzier.com/passion-releve/
 * Author: Maxime Lauzier
 * Author URI: https://maximelauzier.com
 * Description: Genesis starter theme with a modern development workflow.
 * Version: 1.0.2
 * License: GPL-3.0-or-later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Tags: one-column, two-columns, left-sidebar, right-sidebar, accessibility-ready, custom-logo, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
 * Text Domain: passion-releve
 * Domain Path: /languages
 * Template: genesis
 */
@charset "UTF-8";
/**
 * Table of Contents
 *
 * - Normalize
 * - Base
 * - Blocks
 * - Comments
 * - Content
 * - Entry
 * - Footer
 * - Header
 * - Layout
 * - Navigation
 * - Plugins
 * - Sidebar
 * - Pages
 */
/* # Vendor
---------------------------------------------------------------------------------------------------- */
/* ## Normalize
--------------------------------------------- */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	/* 1 */

	-webkit-text-size-adjust: 100%;
	/* 2 */
	}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
	}

/**
 * Render the `main` element consistently in IE.
 */
main {
	display: block;
	}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
	}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */
	}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
	}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
	}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	text-decoration: underline dotted;
	/* 2 */

	-webkit-text-decoration: underline dotted;
	/* 2 */
	}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
	font-weight: bolder;
	}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
	}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
	}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	}

sub {
	bottom: -0.25em;
	}

sup {
	top: -0.5em;
	}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
	}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button, input, optgroup, select, textarea {
	font-family: inherit;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */
	}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button, input {
	/* 1 */
	overflow: visible;
	}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button, select {
	/* 1 */
	text-transform: none;
	}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button, [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
	}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
	}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
	}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
	}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	/* 1 */
	color: inherit;
	/* 2 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	white-space: normal;
	/* 1 */
	}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
	}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
	}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"], [type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
	}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
	height: auto;
	}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	/* 1 */
	outline-offset: -2px;

	-webkit-appearance: textfield;
	/* 2 */
	}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
	}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	/* 1 */
	font: inherit;

	-webkit-appearance: button;
	/* 2 */
	}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
	}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
	}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template, [hidden] {
	display: none;
	}

/**
 * Add the correct display in IE 10.
 */
/* ## WordPress
--------------------------------------------- */
/* =WordPress Core
Reference: https://codex.wordpress.org/CSS
-------------------------------------------------------------- */
.alignnone, .alignleft, a img.alignnone, a img.alignleft, .wp-caption.alignnone, .wp-caption.alignleft {
	margin: 5px 20px 20px 0;
	}

.alignright, a img.alignright, .wp-caption.alignright {
	margin: 5px 0 20px 20px;
	}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto;
	}

.alignright {
	float: right;
	}

.alignleft {
	float: left;
	}

a img.alignright {
	float: right;
	}

a img.alignleft {
	float: left;
	}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%;
	/* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
	}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
	}

.wp-caption p.wp-caption-text {
	font-size: 12px;
	font-size: 1.2rem;
	margin: 0;
	padding: 0 4px 5px;
	}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 1.4rem;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
	}

/* ## Print Styles
--------------------------------------------- */

/* ## Genesis Column Classes
--------------------------------------------- */

/* # Base
---------------------------------------------------------------------------------------------------- */
.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;

	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	}

.screen-reader-shortcut:focus,
.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;

	-webkit-clip-path: none;
	clip-path: none;
	}

.more-link {
	position: relative;
	}

.genesis-skip-link {
	margin: 0;
	}

.genesis-skip-link .skip-link-hidden {
	display: none;
	visibility: hidden;
	}

.genesis-skip-link li {
	height: 0;
	list-style: none;
	width: 0;
	}

:focus {
	color: #000;
	outline: #ccc solid 1px;
	}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: #000;
	border: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 15px 30px;
	text-decoration: none;
	transition: all 0.2s ease;
	white-space: normal;
	width: auto;
	}

button:focus, button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button:focus,
.button:hover {
	background-color: #cc339f;
	border: none;
	color: #fff;
	}

button:disabled, button:disabled:hover,
input[type="button"]:disabled,
input[type="button"]:disabled:hover,
input[type="reset"]:disabled,
input[type="reset"]:disabled:hover,
input[type="submit"]:disabled,
input[type="submit"]:disabled:hover,
.button:disabled,
.button:disabled:hover {
	background-color: rgba(0, 0, 0, 0.1);
	border-width: 0;
	color: rgba(0, 0, 0, 0.5);
	cursor: not-allowed;
	}

button.alt,
input[type="button"].alt,
input[type="reset"].alt,
input[type="submit"].alt,
.button.alt {
	background-color: #cc339f;
	}

button.alt:hover, button.alt:focus,
input[type="button"].alt:hover,
input[type="button"].alt:focus,
input[type="reset"].alt:hover,
input[type="reset"].alt:focus,
input[type="submit"].alt:hover,
input[type="submit"].alt:focus,
.button.alt:hover,
.button.alt:focus {
	background-color: #000;
	}

button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small,
.button.small {
	padding: 8px 16px;
	}

button .entry-content:focus, button .entry-content:hover,
input[type="button"] .entry-content:focus,
input[type="button"] .entry-content:hover,
input[type="reset"] .entry-content:focus,
input[type="reset"] .entry-content:hover,
input[type="submit"] .entry-content:focus,
input[type="submit"] .entry-content:hover,
.button .entry-content:focus,
.button .entry-content:hover {
	color: #fff;
	}

input,
select,
textarea {
	background-clip: padding-box;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0;
	box-shadow: none;
	color: #000;
	font-size: 1.6rem;
	font-weight: 400;
	padding: 1em;
	width: 100%;
	}

input:focus, input:focus,
select:focus,
select:focus,
textarea:focus,
textarea:focus {
	border: 1px solid rgba(0, 0, 0, 0.5);
	outline: none;
	}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
	}

::-moz-placeholder {
	color: rgba(0, 0, 0, 0.6);
	opacity: 1;
	}

::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
	}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
	}

input:disabled,
input:disabled:hover {
	background-color: rgba(0, 0, 0, 0.1);
	border-width: 0;
	color: rgba(0, 0, 0, 0.5);
	cursor: not-allowed;
	}

input[type="search"] {
	-webkit-appearance: none;
	}

input[type="color"] {
	height: 3em;
	}

legend {
	display: table;
	float: left;
	font-family: "Oswald", -apple-system, blinkmacsystemfont, "segoe ui", roboto, helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
	font-size: 2.025rem;
	font-weight: 600;
	margin: 0;
	margin-bottom: 2rem;
	padding: 0;
	text-transform: uppercase;
	width: 100%;
	}

legend + * {
	clear: both;
	}

fieldset {
	border: 0;
	margin: 0;
	min-width: 0;
	padding: 0.01em 0 0 0;
	}

body:not(:-moz-handler-blocked) fieldset {
	display: table-cell;
	}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Oswald", -apple-system, blinkmacsystemfont, "segoe ui", roboto, helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
	font-weight: 600;
	line-height: 1.29443;
	margin: 0 0 2rem;
	}

h1 {
	font-size: 3.6rem;
	}

h2 {
	font-size: 3.15rem;
	}

h3 {
	font-size: 2.7rem;
	}

h4 {
	font-size: 2.25rem;
	}

h5 {
	font-size: 2.025rem;
	}

h6 {
	font-size: 1.8rem;
	}

html {
	box-sizing: border-box;
	max-width: 100vw;
	overflow-x: hidden;
	}

*,
*:before,
*:after {
	box-sizing: inherit;
	}

ol,
ul {
	margin: 0;
	padding: 0;
	}

li {
	list-style-type: none;
	}

embed,
iframe,
object,
video,
.wp-caption {
	max-width: 100%;
	width: 100%;
	}

img {
	height: auto;
	max-width: 100%;
	vertical-align: top;
	}

figure {
	margin: 0;
	}

iframe {
	border: 0;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 40px;
	width: 100%;
	word-break: break-all;
	}

tbody {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

th {
	background-color: rgba(0, 0, 0, 0.05);
	font-size: smaller;
	}

td {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	text-align: left;
	}

th,
td {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.66667rem;
	}

html {
	background-color: #000;
	font-size: 62.5%;
	/* 10px browser default */

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	}

/* Chrome fix */
body > div {
	font-size: 1.8rem;
	}

body {
	background-color: #fff;
	color: #000;
	font-family: -apple-system, blinkmacsystemfont, "segoe ui", roboto, helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.61803;
	margin: 0;
	max-width: 100vw;
	overflow-x: hidden;
	}

a {
	color: #000;
	font-weight: 600;
	text-decoration: none;
	transition: color 0.2s ease, background-color 0.2s ease;
	transition: all 0.2s ease;
	}

a:hover, a:focus {
	box-shadow: inset 0 -0.1em 0 #cc339f;
	}

p {
	margin: 0 0 1em;
	padding: 0;
	}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	clear: both;
	margin: 30px 0;
	}

b, strong {
	font-weight: 700;
	}

blockquote,
cite,
em,
i {
	font-style: italic;
	}

mark {
	background: #fdffb6;
	}

blockquote {
	border-left: 3px solid #cc339f;
	margin: 0 0 1em;
	padding: 0 1em;
	}

/* # Blocks
---------------------------------------------------------------------------------------------------- */
.alignfull {
	left: 50%;
	margin-left: -50vw;
	max-width: none;
	position: relative;
	width: 100vw;
	}

.content-sidebar .alignfull,
.sidebar-content .alignfull {
	max-width: calc(100% + 12rem);
	}

.alignfull img {
	display: inline-block;
	margin: 1.618em auto;
	width: 100%;
	}

.alignwide {
	left: 50%;
	max-width: 120%;
	position: relative;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	width: 100vw;
	}

.alignwide img {
	display: inline-block;
	margin: 1.618em auto;
	}

.clearfix:before, .clearfix:after {
	clear: both;
	content: " ";
	display: block;
	}

@keyframes fade-in {
	from {
		opacity: 0;
		}
	to {
		opacity: 1;
		}
	}

@-webkit-keyframes fade-in {
	from {
		opacity: 0;
		}
	to {
		opacity: 1;
		}
	}

.has-light-gray-background-color {
	background-color: rgba(0, 0, 0, 0.05);
	}

.has-light-gray-color {
	color: rgba(0, 0, 0, 0.05);
	}

.has-medium-gray-background-color {
	background-color: rgba(0, 0, 0, 0.5);
	}

.has-medium-gray-color {
	color: rgba(0, 0, 0, 0.5);
	}

.has-dark-gray-background-color {
	background-color: rgba(0, 0, 0, 0.6);
	}

.has-dark-gray-color {
	color: rgba(0, 0, 0, 0.6);
	}

.wp-block-button .wp-block-button__link {
	border-radius: 0;
	font-family: "Oswald", -apple-system, blinkmacsystemfont, "segoe ui", roboto, helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
	font-weight: 400;
	}

.wp-block-button .wp-block-button__link:not(.has-background) {
	background-color: #000;
	}

.wp-block-button .wp-block-button__link:not(.has-background):active, .wp-block-button .wp-block-button__link:not(.has-background):focus, .wp-block-button .wp-block-button__link:not(.has-background):hover {
	background-color: #cc339f;
	}

.wp-block-columns {
	flex-wrap: wrap;
	}

.wp-block-column {
	flex: auto;
	}

.wp-block-embed {
	margin-bottom: 2rem;
	margin-top: 2rem;
	}

.entry-content .wp-block-gallery {
	margin-left: -8px;
	margin-right: -8px;
	}

.entry-content .wp-block-gallery.alignfull {
	margin-left: -50vw;
	margin-right: auto;
	}

.wp-block-gallery .blocks-gallery-item figure {
	align-items: center;
	}

.wp-block-image {
	margin-bottom: 2rem;
	margin-top: 2rem;
	}

.wp-block-image figcaption {
	margin: 0 auto 2em;
	}

.wp-block-pullquote {
	border-bottom: none;
	border-top: none;
	margin-bottom: 4rem;
	margin-top: 4rem;
	padding: 0 4rem;
	text-align: left;
	}

.wp-block-pullquote.alignright {
	margin-left: 4rem;
	}

.wp-block-pullquote cite {
	font-style: normal;
	}

/* # Comments
---------------------------------------------------------------------------------------------------- */
.comment-author span a {
	font-weight: 700;
	}

.comment-content {
	clear: both;
	}

.comment-content ul > li {
	list-style-type: disc;
	}

.comment-header {
	margin-bottom: 2rem;
	}

.comment-header p {
	font-size: smaller;
	margin-bottom: 0;
	}

.comment-header a {
	font-weight: 400;
	}

.comment-list .comment {
	padding: 2rem 0 0 2rem;
	}

.comment-list .depth-1 {
	padding-left: 0;
	}

.comment-list .bypostauthor {
	font-size: inherit;
	}

.comment-respond {
	font-size: 1.8rem;
	margin-bottom: 2rem;
	}

.comment-respond label {
	display: block;
	}

.entry-comments {
	font-size: 1.8rem;
	margin-bottom: 40px;
	}

.entry-pings {
	font-size: 1.8rem;
	margin-bottom: 40px;
	}

.entry-pings .reply {
	display: none;
	}

/* # Content
---------------------------------------------------------------------------------------------------- */
.after-entry {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.075);
	margin-bottom: 40px;
	padding: 20px 30px;
	}

.after-entry .widget:last-of-type {
	margin-bottom: 0;
	}

.archive-description {
	margin-bottom: 2rem;
	width: 100%;
	}

.archive-description p:last-child {
	margin-bottom: 0;
	}

.archive-title {
	margin-bottom: 0;
	}

.archive-title + p {
	margin-top: 2rem;
	}

.author-box {
	background-color: rgba(0, 0, 0, 0.05);
	font-size: smaller;
	margin: 4rem auto;
	padding: 2rem;
	}

.author-box:before, .author-box:after {
	clear: both;
	content: " ";
	display: block;
	}

.author-box p:last-child {
	margin-bottom: 0;
	}

.author-box-title {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 1rem;
	}

.avatar {
	float: left;
	}

.author-box .avatar,
.alignleft .avatar {
	margin-right: 2rem;
	}

.alignright .avatar {
	margin-left: 2rem;
	}

.comment .avatar {
	margin: 0 1rem 2rem 0;
	}

.before-content.widget-area,
.after-content.widget-area {
	margin-bottom: 2rem;
	width: 100%;
	}

.before-content.widget-area .widget,
.before-content.widget-area .custom-html-widget,
.after-content.widget-area .widget,
.after-content.widget-area .custom-html-widget {
	text-align: center;
	}

.after-content.widget-area {
	margin-top: 4rem;
	}

.breadcrumb {
	font-size: 1.6rem;
	margin-bottom: 4rem;
	width: 100%;
	}

.post-grid .content {
	display: flex;

	flex-wrap: wrap;
	justify-content: space-between;
	}

.gallery-item {
	float: left;
	margin: 0;
	text-align: center;
	}

.gallery-columns-1 .gallery-item {
	width: 100%;
	}

.gallery-columns-2 .gallery-item {
	width: 50%;
	}

.gallery-columns-3 .gallery-item {
	width: 33%;
	}

.gallery-columns-4 .gallery-item {
	width: 25%;
	}

.gallery-columns-5 .gallery-item {
	width: 20%;
	}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
	}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
	}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
	}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
	}

.gallery-columns-2 .gallery-item:nth-child(2n + 1),
.gallery-columns-3 .gallery-item:nth-child(3n + 1),
.gallery-columns-4 .gallery-item:nth-child(4n + 1),
.gallery-columns-5 .gallery-item:nth-child(5n + 1),
.gallery-columns-6 .gallery-item:nth-child(6n + 1),
.gallery-columns-7 .gallery-item:nth-child(7n + 1),
.gallery-columns-8 .gallery-item:nth-child(8n + 1),
.gallery-columns-9 .gallery-item:nth-child(9n + 1) {
	clear: left;
	}

.gallery {
	overflow: hidden;
	}

.gallery img {
	height: auto;
	padding: 4px;
	}

.gallery img:focus, .gallery img:hover {
	border: 1px solid rgba(0, 0, 0, 0.5);
	outline: none;
	}

.hero-section {
	background-color: #000;
	background-position: center;
	background-size: cover;
	color: #fff;
	padding: 12rem 0 6rem;
	position: relative;
	text-align: center;
	}

.hero-section .wrap {
	position: relative;
	z-index: 1;
	}

.hero-section h1 {
	margin: 0 auto 0.382em;
	}

.hero-section p {
	margin: 0 auto;
	}

.wp-custom-header {
	height: 100%;
	overflow: hidden;
	position: absolute;
	position: absolute 0 0 0 0;
	width: 100%;

	pointer-events: none;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	}

.woocommerce .wp-custom-header img,
.wp-custom-header img,
.wp-custom-header video,
.wp-custom-header iframe {
	height: 100%;
	width: 100%;

	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center center;
	object-position: center center;
	}

.wp-custom-header iframe {
	bottom: -20%;
	height: 140%;
	left: -20%;
	margin: auto;
	max-height: none;
	max-width: 140%;
	min-height: 56.25vw;
	min-width: 100%;
	position: absolute;
	right: -20%;
	top: -20%;
	width: 140%;
	}

.wp-custom-header img {
	display: none;
	}

.wp-custom-header-video-button {
	display: none;
	}

.pagination {
	clear: both;
	font-family: "Oswald", -apple-system, blinkmacsystemfont, "segoe ui", roboto, helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
	margin-bottom: 2rem;
	width: 100%;
	}

.adjacent-entry-pagination {
	margin-bottom: 0;
	}

.archive-pagination li {
	display: inline;
	}

.archive-pagination li a {
	background-color: rgba(0, 0, 0, 0.05);
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 400;
	padding: 0.5em 0.75em;
	text-decoration: none;
	}

.archive-pagination li a:focus,
.archive-pagination li a:hover,
.archive-pagination li.active a {
	background-color: #000;
	box-shadow: none;
	color: #fff;
	}

/* # Entry
---------------------------------------------------------------------------------------------------- */
.comment-content a,
.entry-content a {
	box-shadow: inset 0 -2px 0 #cc339f;
	text-decoration: none;
	}

.comment-content a:hover, .comment-content a:focus,
.entry-content a:hover,
.entry-content a:focus {
	color: #cc339f;
	}

.comment-content p:empty,
.entry-content p:empty {
	display: none;
	}

.comment-content p.has-background,
.entry-content p.has-background {
	padding: 25px 30px;
	}

.comment-content p.has-background.box-shadow,
.entry-content p.has-background.box-shadow {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	}

.comment-content p.has-background.light-text a,
.entry-content p.has-background.light-text a {
	color: #fff;
	text-decoration: underline;
	}

.comment-content p.has-background.light-text a:focus, .comment-content p.has-background.light-text a:hover,
.entry-content p.has-background.light-text a:focus,
.entry-content p.has-background.light-text a:hover {
	text-decoration: none;
	}

.comment-content li ol,
.comment-content li ul,
.entry-content li ol,
.entry-content li ul {
	margin-bottom: 0;
	}

.comment-content ol,
.comment-content ul,
.entry-content ol,
.entry-content ul {
	margin-bottom: 2rem;
	margin-left: 2rem;
	}

.comment-content ol > li,
.entry-content ol > li {
	list-style-type: decimal;
	}

.comment-content ul > li,
.entry-content ul > li {
	list-style-type: disc;
	}

.comment-content code,
.comment-content kbd,
.comment-content samp,
.entry-content code,
.entry-content kbd,
.entry-content samp {
	background-color: rgba(0, 0, 0, 0.05);
	font-size: 90%;
	padding: 0.1rem 1rem;
	}

.comment-content pre,
.entry-content pre {
	background-color: rgba(0, 0, 0, 0.05);
	overflow-x: scroll;
	padding: 1em;
	}

.comment-content pre code,
.comment-content pre kbd,
.comment-content pre samp,
.entry-content pre code,
.entry-content pre kbd,
.entry-content pre samp {
	background-color: transparent;
	font-size: 90%;
	padding: 0;
	}

.comment-content .caption,
.entry-content .caption {
	font-size: 1.4rem;
	font-weight: 600;
	margin-top: -2rem;
	text-align: center;
	}

.content .sticky {
	background-color: rgba(0, 0, 0, 0.05);
	padding: 2rem;
	}

.entry-image-link {
	display: flex;
	margin-bottom: 1rem;

	flex-wrap: wrap;
	align-items: flex-start;
	}

.post-grid .entry-image-link img {
	margin: 0;
	width: 100%;
	}

.entry-meta {
	font-size: smaller;
	line-height: 1.45623;
	margin-bottom: 1rem;
	}

.entry-title + .entry-meta,
.entry > .entry-meta {
	margin-bottom: 1rem;
	}

.post-grid .entry-meta {
	font-size: small;
	margin: 0;
	}

.entry-footer .entry-meta {
	padding-top: 2rem;
	}

.entry-meta p {
	font-size: 1.6rem;
	margin-bottom: 0;
	}

.entry-categories,
.entry-tags {
	display: flex;
	}

.entry-categories a,
.entry-tags a {
	background-color: #cc339f;
	color: #fff;
	display: inline-block;
	font-family: "Oswald", -apple-system, blinkmacsystemfont, "segoe ui", roboto, helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
	font-size: small;
	font-weight: 400;
	margin-bottom: 1rem;
	margin-right: 0.2em;
	padding: 0.1em 0.5em;
	text-transform: uppercase;
	}

.single .entry-categories a, .single
.entry-tags a {
	margin: 0;
	}

.entry-comments-link:before {
	content: "\2014";
	margin: 0 6px 0 2px;
	}

.entry-title {
	font-size: 3.15rem;
	margin-bottom: 1rem;
	}

.post-grid .entry-title {
	font-size: 2.025rem;
	}

.entry-title a {
	color: #000;
	}

.entry-title a:focus, .entry-title a:hover {
	color: #000;
	}

.entry {
	margin-bottom: 2rem;
	}

.page .entry:last-of-type {
	margin-bottom: 0;
	}

.entry > img {
	margin: 1rem 0 4rem;
	margin-left: 50%;
	max-width: 100vw;
	-webkit-transform: translateX(-50vw);
	transform: translateX(-50vw);
	width: 100vw;
	}

.post-grid .content .entry {
	width: calc(50% - 1rem);
	}

.post-grid .content .entry:nth-of-type(5n + 3) {
	overflow: hidden;
	position: relative;
	width: 100%;
	}

.post-grid .content .entry:nth-of-type(5n + 3) .entry-image-link {
	margin: 0;
	}

.post-grid .content .entry:nth-of-type(5n + 3) .entry-image-link:before {
	background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
	bottom: 0;
	content: " ";
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	}

.post-grid .content .entry:nth-of-type(5n + 3) .entry-title {
	font-size: larger;
	}

.post-grid .content .entry:nth-of-type(5n + 3) .entry-header {
	bottom: 2rem;
	color: #fff;
	left: 2rem;
	max-width: 640px;
	position: absolute;
	right: 2rem;
	z-index: 100;
	}

.post-grid .content .entry:nth-of-type(5n + 3) a {
	color: #fff;
	}

/* # Footer
---------------------------------------------------------------------------------------------------- */

.footer-credits p {
	display: inline;
	margin-bottom: 0;
	}

.backtotop {
	margin-left: 1em;
	}

.footer-widget-area {
	margin-bottom: 2rem;
	}

.footer-widget-area .widget-title {
	color: #fff;
	}

.footer-widgets {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	clear: both;
	font-size: 1.5rem;
	text-align: left;
	}

.footer-widgets .wrap {
	display: flex;

	flex-wrap: wrap;
	justify-content: space-between;
	}

.footer-widgets .widget:last-child {
	margin-bottom: 0;
	}

.site-footer {
	background-color: #000;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	color: rgba(255, 255, 255, 0.8);
	font-size: 1.5rem;
	padding: 4rem 0;
	text-align: center;
	text-align: left;
	}

.site-footer > .wrap p {
	margin-bottom: 0;
	}

.site-footer a {
	color: rgba(255, 255, 255, 0.8);
	}

.back-to-top {
	display: flex;
	margin-top: 2rem;
	}

/* # Header
---------------------------------------------------------------------------------------------------- */
.custom-logo {
	display: flex;
	min-height: 6rem;
	padding: 1.25rem 0.5rem;
	width: 14rem;
	}

.woocommerce .custom-logo,
.woocommerce-page .custom-logo {
	height: 6rem;
	}

.header-widget-area {
	position: absolute;
	right: 0;
	}

.header-widget-area .widget_search .widget-wrap {
	display: flex;

	justify-content: flex-end;
	}

.header-widget-area .search-form {
	bottom: 0;
	display: none;
	height: 5rem;
	margin: auto 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: calc(90vw + 1em);
	z-index: 300;

	align-items: center;
	}

.entry-content .header-widget-area .search-form {
	margin-bottom: 40px;
	width: 50%;
	}

.header-widget-area .search-form input {
	background-color: #fff;
	border: 0;
	border-radius: 0;
	border-radius: 0;
	color: #fff;
	line-height: 1;
	padding: 1em;
	}

.header-widget-area .search-form input:focus {
	outline: none;
	}

.header-widget-area .search-form ::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
	}

.header-widget-area .search-form :-moz-placeholder {
	color: rgba(0, 0, 0, 0.6);
	}

.header-widget-area .search-form ::-moz-placeholder {
	color: rgba(0, 0, 0, 0.6);
	}

.header-widget-area .search-form :-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
	}

.header-widget-area .search-toggle {
	background-color: transparent;
	border-radius: 7rem;
	bottom: 0;
	display: flex;
	height: 4rem;
	margin: auto -0.7rem auto 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 4rem;
	z-index: 400;

	justify-content: center;
	align-items: center;
	}

.header-widget-area .search-toggle:hover, .header-widget-area .search-toggle:focus {
	background-color: transparent;
	}

.header-widget-area .search-icon {
	border: 3px solid #000;
	border-radius: 2rem;
	display: block;
	height: 2rem;
	margin-right: 0.7rem;
	position: relative;
	transition: -webkit-transform 0.2s ease;
	transition: transform 0.2s ease;
	transition: transform 0.2s ease, -webkit-transform 0.2s ease;
	width: 2rem;
	}

.activated .header-widget-area .search-icon {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	}

.header-widget-area .search-icon:after {
	background-color: #000;
	content: " ";
	display: block;
	height: 1rem;
	left: 1.5rem;
	position: absolute;
	top: 1.2rem;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 3px;
	}

.header-widget-area .post-password-form input[type="submit"],
.header-widget-area .search-form input[type="submit"] {
	margin-top: 10px;
	}

.header-widget-area .widget_search input[type="submit"] {
	display: none;
	}

.header-widget-area .widget_search input[type="submit"]:focus {
	outline: none;
	}

.site-description {
	color: #cc339f;
	font-size: small;
	text-align: center;
	width: 100%;
	}

.wp-custom-logo .site-description {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;

	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	}

.site-header {
	background-color: #fff;
	width: 100%;
	z-index: 9999;
	}

.has-sticky-header .site-header {
	position: fixed;
	}

.site-header > .wrap {
	display: flex;
	height: 100%;
	position: relative;

	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	}

.site-title {
	border-bottom: 3px solid #cc339f;
	font-family: "Oswald", -apple-system, blinkmacsystemfont, "segoe ui", roboto, helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
	font-size: 2.25rem;
	font-style: italic;
	font-weight: 700;
	line-height: 1.45623;
	margin-bottom: 0;
	text-transform: uppercase;
	}

.wp-custom-logo .site-title {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;

	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	}

.title-area {
	display: flex;
	margin: 0 auto;
	width: 30rem;

	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	}

.title-area a,
.title-area a:focus,
.title-area a:hover {
	box-shadow: none;
	color: #cc339f;
	}

/* # Layout
---------------------------------------------------------------------------------------------------- */
.site-container {
	-webkit-animation: fade-in 1s;
	animation: fade-in 1s;
	background-color: #fff;
	word-wrap: break-word;
	}

.site-inner {
	clear: both;
	margin: 0 auto;
	}

.site-inner .wrap {
	margin: 2rem auto 4rem;
	}

.wrap,
.content-sidebar-wrap {
	margin: 0 auto;
	max-width: 1152px;
	width: 90%;
	}

.wrap .wrap,
.content-sidebar-wrap .wrap {
	min-width: 100%;
	width: 100%;
	}

/* # Navigation
---------------------------------------------------------------------------------------------------- */
.genesis-nav-menu .menu-item {
	display: inline-flex;
	overflow: hidden;
	position: relative;

	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	}

.genesis-nav-menu .menu-item:focus, .genesis-nav-menu .menu-item:hover {
	position: relative;
	}

.genesis-nav-menu a {
	color: #fff;
	display: block;
	font-family: "Oswald", -apple-system, blinkmacsystemfont, "segoe ui", roboto, helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
	font-size: 1.6rem;
	font-weight: 400;
	outline-offset: -1px;
	padding: 1em;
	text-decoration: none;
	text-transform: uppercase;
	}

.genesis-nav-menu a:before {
	background-color: rgba(204, 51, 159, 0.9);
	bottom: 0;
	content: " ";
	height: 3px;
	left: 0;
	position: absolute;
	right: 0;
	-webkit-transform: rotate3d(1, 0, 0, 90deg);
	transform: rotate3d(1, 0, 0, 90deg);
	width: 100%;

	pointer-events: none;
	}

.genesis-nav-menu .in-right:before {
	-webkit-animation: in-right 0.2s ease 0ms 1 forwards;
	animation: in-right 0.2s ease 0ms 1 forwards;
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
	}

.genesis-nav-menu .in-top:before,
.genesis-nav-menu .in-bottom:before {
	-webkit-animation: in-bottom 0.2s ease 0ms 1 forwards;
	animation: in-bottom 0.2s ease 0ms 1 forwards;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	}

.genesis-nav-menu .in-left:before {
	-webkit-animation: in-left 0.2s ease 0ms 1 forwards;
	animation: in-left 0.2s ease 0ms 1 forwards;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	}

.genesis-nav-menu .out-right:before {
	-webkit-animation: out-right 0.2s ease 0ms 1 forwards, change-color 0ms ease 0.2s 1 forwards;
	animation: out-right 0.2s ease 0ms 1 forwards, change-color 0ms ease 0.2s 1 forwards;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	}

.genesis-nav-menu .out-top:before,
.genesis-nav-menu .out-bottom:before {
	-webkit-animation: out-bottom 0.2s ease 0ms 1 forwards, change-color 0ms ease 0.2s 1 forwards;
	animation: out-bottom 0.2s ease 0ms 1 forwards, change-color 0ms ease 0.2s 1 forwards;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	}

.genesis-nav-menu .out-left:before {
	-webkit-animation: out-left 0.2s ease 0ms 1 forwards, change-color 0ms ease 0.2s 1 forwards;
	animation: out-left 0.2s ease 0ms 1 forwards, change-color 0ms ease 0.2s 1 forwards;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	}

@-webkit-keyframes change-color {
	from {
		background-color: #cc339f;
		}
	to {
		background-color: #000;
		}
	}

@keyframes change-color {
	from {
		background-color: #cc339f;
		}
	to {
		background-color: #000;
		}
	}

@-webkit-keyframes in-right {
	from {
		-webkit-transform: rotate3d(0, -1, 0, 90deg);
		transform: rotate3d(0, -1, 0, 90deg);
		}
	to {
		-webkit-transform: rotate3d(0, 0, 0, 0deg);
		transform: rotate3d(0, 0, 0, 0deg);
		}
	}

@keyframes in-right {
	from {
		-webkit-transform: rotate3d(0, -1, 0, 90deg);
		transform: rotate3d(0, -1, 0, 90deg);
		}
	to {
		-webkit-transform: rotate3d(0, 0, 0, 0deg);
		transform: rotate3d(0, 0, 0, 0deg);
		}
	}

@-webkit-keyframes in-bottom {
	from {
		-webkit-transform: rotate3d(1, 0, 0, 90deg);
		transform: rotate3d(1, 0, 0, 90deg);
		}
	to {
		-webkit-transform: rotate3d(0, 0, 0, 0deg);
		transform: rotate3d(0, 0, 0, 0deg);
		}
	}

@keyframes in-bottom {
	from {
		-webkit-transform: rotate3d(1, 0, 0, 90deg);
		transform: rotate3d(1, 0, 0, 90deg);
		}
	to {
		-webkit-transform: rotate3d(0, 0, 0, 0deg);
		transform: rotate3d(0, 0, 0, 0deg);
		}
	}

@-webkit-keyframes in-left {
	from {
		-webkit-transform: rotate3d(0, 1, 0, 90deg);
		transform: rotate3d(0, 1, 0, 90deg);
		}
	to {
		-webkit-transform: rotate3d(0, 0, 0, 0deg);
		transform: rotate3d(0, 0, 0, 0deg);
		}
	}

@keyframes in-left {
	from {
		-webkit-transform: rotate3d(0, 1, 0, 90deg);
		transform: rotate3d(0, 1, 0, 90deg);
		}
	to {
		-webkit-transform: rotate3d(0, 0, 0, 0deg);
		transform: rotate3d(0, 0, 0, 0deg);
		}
	}

@-webkit-keyframes out-right {
	from {
		-webkit-transform: rotate3d(0, 0, 0, 0deg);
		transform: rotate3d(0, 0, 0, 0deg);
		}
	to {
		-webkit-transform: rotate3d(0, -1, 0, 104deg);
		transform: rotate3d(0, -1, 0, 104deg);
		}
	}

@keyframes out-right {
	from {
		-webkit-transform: rotate3d(0, 0, 0, 0deg);
		transform: rotate3d(0, 0, 0, 0deg);
		}
	to {
		-webkit-transform: rotate3d(0, -1, 0, 104deg);
		transform: rotate3d(0, -1, 0, 104deg);
		}
	}

@-webkit-keyframes out-bottom {
	from {
		-webkit-transform: rotate3d(0, 0, 0, 0deg);
		transform: rotate3d(0, 0, 0, 0deg);
		}
	to {
		-webkit-transform: rotate3d(1, 0, 0, 104deg);
		transform: rotate3d(1, 0, 0, 104deg);
		}
	}

@keyframes out-bottom {
	from {
		-webkit-transform: rotate3d(0, 0, 0, 0deg);
		transform: rotate3d(0, 0, 0, 0deg);
		}
	to {
		-webkit-transform: rotate3d(1, 0, 0, 104deg);
		transform: rotate3d(1, 0, 0, 104deg);
		}
	}

@-webkit-keyframes out-left {
	from {
		-webkit-transform: rotate3d(0, 0, 0, 0deg);
		transform: rotate3d(0, 0, 0, 0deg);
		}
	to {
		-webkit-transform: rotate3d(0, 1, 0, 104deg);
		transform: rotate3d(0, 1, 0, 104deg);
		}
	}

@keyframes out-left {
	from {
		-webkit-transform: rotate3d(0, 0, 0, 0deg);
		transform: rotate3d(0, 0, 0, 0deg);
		}
	to {
		-webkit-transform: rotate3d(0, 1, 0, 104deg);
		transform: rotate3d(0, 1, 0, 104deg);
		}
	}

.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover {
	text-decoration: none;
	}

.genesis-nav-menu .current-menu-item > a {
	color: #cc339f;
	}

.genesis-nav-menu > .menu-bold > a {
	font-weight: 700;
	}

.genesis-nav-menu > .menu-highlight > a {
	background-color: #000;
	border-radius: 3px;
	color: #fff;
	font-weight: 600;
	margin-left: 15px;
	padding-left: 20px;
	padding-right: 20px;
	}

.genesis-nav-menu > .menu-highlight > a:focus, .genesis-nav-menu > .menu-highlight > a:hover {
	background-color: #cc339f;
	}

.menu-toggle {
	background-color: transparent;
	bottom: 0;
	color: #000;
	display: flex;
	font-family: "Oswald", -apple-system, blinkmacsystemfont, "segoe ui", roboto, helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
	height: 4rem;
	line-height: 1.45623;
	margin: auto 0 auto -0.7rem;
	padding: 0;
	position: absolute;
	text-align: left;
	text-transform: uppercase;
	top: 0;
	transition: none;
	visibility: visible;
	width: 4rem;
	z-index: 300;

	justify-content: center;
	align-items: center;
	}

.menu-toggle:focus, .menu-toggle:hover {
	background-color: transparent;
	border-width: 0;
	color: #cc339f;
	}

.menu-toggle.activated {
	bottom: auto;
	left: auto;
	position: fixed;
	right: auto;
	top: 1rem;
	}

.admin-bar .menu-toggle.activated {
	top: 5.6rem;
	}

.menu-toggle .hamburger,
.menu-toggle .hamburger:before,
.menu-toggle .hamburger:after {
	background-color: #000;
	content: "";
	display: block;
	height: 3px;
	position: absolute;
	transition: background-color 0.2s ease;
	width: 2.5rem;
	}

.menu-toggle .hamburger {
	bottom: auto;
	left: 0.7rem;
	margin: auto;
	right: auto;
	top: auto;
	}

.menu-toggle .hamburger:before {
	top: -0.8rem;
	}

.menu-toggle .hamburger:after {
	bottom: -0.8rem;
	}

.menu-toggle.activated .hamburger {
	background-color: transparent;
	}

.menu-toggle.activated .hamburger:before {
	background-color: #cc339f;
	top: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	}

.menu-toggle.activated .hamburger:after {
	background-color: #cc339f;
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	}

.site-footer .menu {
	display: flex;

	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	}

.site-footer .menu-item {
	margin-bottom: 1em;
	width: 30%;
	}

.site-footer .menu-item a {
	font-family: "Oswald", -apple-system, blinkmacsystemfont, "segoe ui", roboto, helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
	font-size: small;
	font-weight: 400;
	text-transform: uppercase;
	}

.nav-primary {
	background-color: #000;
	bottom: 0;
	box-shadow: -30rem 0 0 #000;
	display: flex;
	height: 100vh;
	left: -110vw;
	max-width: 90vw;
	overflow: auto;
	position: fixed;
	right: 110vw;
	top: 0;
	transition: all 0.2s ease;
	width: 30rem;
	z-index: 200;

	align-items: center;
	justify-content: center;
	}

.nav-primary.visible {
	left: calc(5vw - 1em);
	right: 0;
	}

.nav-primary .menu {
	clear: both;
	line-height: 1;
	width: 100%;
	}

.nav-primary .menu-item {
	width: 90%;

	justify-content: flex-start;
	}

.nav-primary .menu-item a {
	padding: 1em;
	width: calc(100% - 4rem - 1px);
	}

.nav-primary .menu-item a:hover, .nav-primary .menu-item a:focus {
	box-shadow: none;
	color: #cc339f;
	}

.nav-primary .sub-menu .menu-item {
	width: 100%;
	}

.nav-secondary {
	background-color: #000;
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
	z-index: 100;

	justify-content: center;
	align-items: center;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	}

.nav-secondary::-webkit-scrollbar {
	display: none;
	}

@-moz-document url-prefix() {
	.nav-secondary {
		overflow: hidden;
		}
	}

.nav-secondary .menu {
	display: flex;

	justify-content: center;
	}

.nav-secondary .menu:focus {
	outline: none;
	}

.nav-secondary .menu.flickity-enabled {
	width: 100%;
	}

.nav-secondary .menu .menu-item {
	margin-left: -1px;
	margin-right: -1px;
	}

.nav-secondary .menu a {
	overflow: hidden;
	}

.nav-secondary div {
	width: 100%;
	}

.nav-secondary div:focus {
	outline: none;
	}

.no-js .site-header .wrap {
	max-width: 100%;
	width: 100%;
	}

.no-js .nav-primary {
	bottom: auto;
	display: flex;
	height: auto;
	left: auto;
	max-width: none;
	overflow-x: auto;
	position: relative;
	right: auto;
	top: auto;
	white-space: nowrap;
	width: auto;
	z-index: 100;

	justify-content: center;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	align-items: center;
	}

.no-js .nav-primary::-webkit-scrollbar {
	display: none;
	}

.no-js .nav-primary .menu-item {
	width: auto;
	}

.no-js .nav-primary .menu-item a {
	padding: 1em;
	width: auto;
	}

.no-js .menu-toggle,
.no-js .sub-menu,
.no-js .sub-menu-toggle,
.no-js .search-toggle {
	display: none !important;
	}

.no-js .nav-secondary .menu {
	width: auto;
	}

.sub-menu-toggle {
	background: transparent;
	height: 4rem;
	padding: 0;
	position: relative;
	width: 4rem;
	}

.sub-menu-toggle:hover, .sub-menu-toggle:focus {
	background: none;
	}

.sub-menu-toggle:before, .sub-menu-toggle:after {
	background-color: #000;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	margin: auto;
	position: absolute;
	top: 0;
	width: 0.8rem;
	}

.sub-menu-toggle:before {
	left: 1.35rem;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	}

.sub-menu-toggle:after {
	right: 1.35rem;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	}

.sub-menu-toggle.activated:before {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	}

.sub-menu-toggle.activated:after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	}

.sub-menu {
	clear: both;
	display: none;
	margin: 0;
	padding-left: 1em;
	width: 100%;
	z-index: 100;
	}

.sub-menu a {
	font-size: 1.4rem;
	position: relative;
	word-wrap: break-word;
	}

/* # Plugins
---------------------------------------------------------------------------------------------------- */
.enews form + p {
	margin-top: 2rem;
	}

.after-entry .enews {
	padding: 1rem;
	text-align: center;
	}

.sidebar .enews {
	background-color: #000;
	color: #fff;
	padding: 2rem;
	}

.sidebar .enews p {
	font-size: small;
	}

.sidebar .enews ::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
	}

.sidebar .enews :-moz-placeholder {
	color: rgba(255, 255, 255, 0.6);
	}

.sidebar .enews ::-moz-placeholder {
	color: rgba(255, 255, 255, 0.6);
	}

.sidebar .enews :-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
	}

.sidebar .enews input {
	background-color: rgba(255, 255, 255, 0.2);
	color: #fff;
	}

.site-footer .enews ::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
	}

.site-footer .enews :-moz-placeholder {
	color: rgba(255, 255, 255, 0.6);
	}

.site-footer .enews ::-moz-placeholder {
	color: rgba(255, 255, 255, 0.6);
	}

.site-footer .enews :-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
	}

.site-footer .enews input {
	background-color: rgba(255, 255, 255, 0.2);
	color: #fff;
	}

.site-footer .enews input[type="submit"] {
	display: none;
	}

.site-footer .enews p {
	margin-top: 0;
	}

.enews-widget input {
	font-size: 1.6rem;
	margin-bottom: 1em;
	}

.enews-widget input[type="submit"] {
	background-color: #cc339f;
	margin: 0;
	width: 100%;
	}

.enews-widget input[type="submit"]:hover, .enews-widget input[type="submit"]:focus {
	box-shadow: inset 0 0 0 9rem rgba(255, 255, 255, 0.2);
	}

.after-entry .enews-widget input {
	text-align: center;
	}

.gs-faq {
	padding: 5px 0;
	}

.gs-faq__answer p:last-of-type {
	margin-bottom: 0;
	}

.js .gs-faq__answer {
	display: none;
	padding: 5px;
	}

.gs-faq__answer.no-animation.gs-faq--expanded {
	display: block;
	}

.gs-faq__question {
	background: transparent;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	color: #000;
	display: none;
	margin-top: 10px;
	padding-left: 0;
	padding-right: 0;
	text-align: left;
	white-space: normal;
	width: 100%;

	justify-content: space-between;
	}

.gs-faq__question:focus, .gs-faq__question:hover {
	background: transparent;
	color: #cc339f;
	}

.gs-faq__question:after {
	content: "+";
	}

.gs-faq__question:first-of-type {
	margin-top: 0;
	}

.gs-faq__question.gs-faq--expanded:after {
	content: "−";
	}

.js .gs-faq__question {
	display: flex;
	}

.js .gs-faq__answer__heading {
	display: none;
	}

#wpstats {
	display: none;
	}

.jscolor {
	left: 0;
	position: fixed;
	top: 0;
	width: 10rem;
	z-index: 400;
	}

.shared-counts-wrap {
	margin: 2rem 0;
	}

.shared-counts-wrap.style-fancy {
	padding-right: 0;
	}

.shared-counts-wrap a:focus, .shared-counts-wrap a:hover {
	box-shadow: none;
	}

/* Simple Social Icons
--------------------------------------------- */
.simple-social-icons a,
.simple-social-icons a:hover,
.simple-social-icons a:focus {
	box-shadow: none;
	}

.footer-widgets .simple-social-icons {
	margin-left: -1em;
	}

.sidebar .simple-social-icons.widget ul {
	display: flex;
	width: 100%;

	flex-wrap: wrap;
	}

.sidebar .simple-social-icons.widget ul li:last-of-type {
	margin-bottom: 0 !important;
	}

.sidebar .simple-social-icons.widget .ssi-label {
	display: none;
	}

.sidebar .simple-social-icons.widget .ssi-instagram a,
.sidebar .simple-social-icons.widget .ssi-instagram a:hover {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%) !important;
	color: #fff !important;
	}

.sidebar .simple-social-icons.widget .ssi-dribbble a,
.sidebar .simple-social-icons.widget .ssi-dribbble a:hover {
	background: #ea4c89 !important;
	color: #fff !important;
	}

.sidebar .simple-social-icons.widget .ssi-email a,
.sidebar .simple-social-icons.widget .ssi-email a:hover {
	background: #049fb3 !important;
	color: #fff !important;
	}

.sidebar .simple-social-icons.widget .ssi-facebook a,
.sidebar .simple-social-icons.widget .ssi-facebook a:hover {
	background: #3b5998 !important;
	color: #fff !important;
	}

.sidebar .simple-social-icons.widget .ssi-flickr a,
.sidebar .simple-social-icons.widget .ssi-flickr a:hover {
	background: #ff0084 !important;
	color: #fff !important;
	}

.sidebar .simple-social-icons.widget .ssi-github a,
.sidebar .simple-social-icons.widget .ssi-github a:hover {
	background: #333 !important;
	color: #fff !important;
	}

.sidebar .simple-social-icons.widget .ssi-gplus a,
.sidebar .simple-social-icons.widget .ssi-gplus a:hover {
	background: #dd4b39 !important;
	color: #fff !important;
	}

.sidebar .simple-social-icons.widget .ssi-linkedin a,
.sidebar .simple-social-icons.widget .ssi-linkedin a:hover {
	background: #007bb6 !important;
	color: #fff !important;
	}

.sidebar .simple-social-icons.widget .ssi-pinterest a,
.sidebar .simple-social-icons.widget .ssi-pinterest a:hover {
	background: #bd081c !important;
	color: #fff !important;
	}

.sidebar .simple-social-icons.widget .ssi-rss a,
.sidebar .simple-social-icons.widget .ssi-rss a:hover {
	background: #f60 !important;
	color: #fff !important;
	}

.sidebar .simple-social-icons.widget .ssi-stumbleupon a,
.sidebar .simple-social-icons.widget .ssi-stumbleupon a:hover {
	background: #eb4823 !important;
	color: #fff !important;
	}

.sidebar .simple-social-icons.widget .ssi-tumblr a,
.sidebar .simple-social-icons.widget .ssi-tumblr a:hover {
	background: #32506d !important;
	color: #fff !important;
	}

.sidebar .simple-social-icons.widget .ssi-twitter a,
.sidebar .simple-social-icons.widget .ssi-twitter a:hover {
	background: #1da1f2 !important;
	color: #fff !important;
	}

.sidebar .simple-social-icons.widget .ssi-vimeo a,
.sidebar .simple-social-icons.widget .ssi-vimeo a:hover {
	background: #aad450 !important;
	color: #fff !important;
	}

.sidebar .simple-social-icons.widget .ssi-youtube a,
.sidebar .simple-social-icons.widget .ssi-youtube a:hover {
	background: #f00 !important;
	color: #fff !important;
	}

.sidebar .simple-social-icons.widget .ssi-snapchat a,
.sidebar .simple-social-icons.widget .ssi-snapchat a:hover {
	background: #fffc00 !important;
	color: #fff !important;
	}

.ssi-label {
	display: none;
	}

/* # Sidebar
---------------------------------------------------------------------------------------------------- */
.sidebar .search-form input[type="submit"] {
	margin-top: 1rem;
	}

.sidebar {
	font-size: 1.6rem;
	margin-top: 4rem;
	}

.sidebar .widget {
	margin-bottom: 4rem;
	}

.sidebar .featured-content .entry {
	width: 100%;
	}

.sidebar .featured-content .entry:before, .sidebar .featured-content .entry:after {
	clear: both;
	content: " ";
	display: block;
	}

.sidebar .featured-content .entry > a {
	margin: 0 2rem 0 0;
	}

.sidebar .featured-content .entry-header {
	float: left;
	max-width: calc(100% - 10rem - 2rem);
	}

.sidebar .featured-content .entry-title {
	font-size: 1.8rem;
	}

.sidebar .featured-content .entry-image {
	height: 10rem;
	width: 10rem;
	}

.sidebar .featured-content .entry-meta {
	font-size: small;
	line-height: 1;
	}

.sidebar .ad {
	width: 30rem !important;
	}

.widget-title {
	font-size: 2.7rem;
	font-weight: 600;
	margin-bottom: 2rem;
	text-transform: uppercase;
	}

.sidebar .widget-title a {
	color: #000;
	text-decoration: none;
	}

.sidebar .widget p:last-child,
.sidebar .widget ul > li:last-of-type {
	margin-bottom: 0;
	}

.sidebar .widget ul > li {
	margin-bottom: 1rem;
	}

.sidebar .widget ul > li:last-of-type {
	padding-bottom: 0;
	}

.sidebar .widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 2rem;
	text-indent: -2rem;
	}

.sidebar .widget li li {
	border: 0;
	margin: 0 0 0 2rem;
	padding: 0;
	}

.widget_calendar table {
	width: 100%;
	}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
	}

/* # Pages
---------------------------------------------------------------------------------------------------- */
.home-top {
	margin: 0 auto;
	max-width: 1152px;
	overflow: hidden;
	position: relative;
	width: 90%;
	}

.home-top:before {
	background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
	bottom: 0;
	content: " ";
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	}

.home-top:before {
	z-index: 99;
	}

.sidebar-content .site-inner .home-top .wrap {
	flex-direction: row;
	}

.full-width-content .site-inner .home-top .wrap {
	justify-content: flex-start;
	}

.home-top .entry {
	color: #fff;
	margin: 32rem 0 0;
	max-width: 640px;
	}

.home-top .entry > * {
	position: relative;
	z-index: 100;
	}

.home-top .entry .entry-title {
	font-size: 3.6rem;
	margin-bottom: 2rem;
	}

.home-top .entry-image-link {
	bottom: 0;
	height: 100%;
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
	}

.home-top .entry-image-link img {
	height: 100%;
	width: 100%;

	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	}

.home-top a {
	color: #fff;
	}

.home-top a:hover, .home-top a:focus {
	color: #fff;
	}

@media (min-width: 512px) {
	.site-footer .menu-item a {
		font-size: 1.6rem;
		}
	}

@media (min-width: 640px) {
	.author-box-content {
		padding-left: calc(7rem + 2rem);
		}
	}

@media (min-width: 768px) {
	.footer-credits .wrap {
		display: flex;

		justify-content: space-between;
		}
	}

@media (min-width: 783px) {
	.admin-bar .menu-toggle.activated {
		top: 6.2rem;
		}
	}

@media only screen and (min-width: 896px) {
	.one-half,
	.three-sixths,
	.two-fourths {
		clear: none;
		float: left;
		margin-left: 2.5641%;
		width: 48.71795%;
		}
	.one-third,
	.two-sixths {
		clear: none;
		float: left;
		margin-left: 2.5641%;
		width: 31.62393%;
		}
	.four-sixths,
	.two-thirds {
		clear: none;
		float: left;
		margin-left: 2.5641%;
		width: 65.81197%;
		}
	.one-fourth {
		clear: none;
		float: left;
		margin-left: 2.5641%;
		width: 23.07692%;
		}
	.three-fourths {
		clear: none;
		float: left;
		margin-left: 2.5641%;
		width: 74.35897%;
		}
	.one-fifth {
		clear: none;
		float: left;
		margin-left: 2.5641%;
		width: 17.94872%;
		}
	.two-fifths {
		clear: none;
		float: left;
		margin-left: 2.5641%;
		width: 38.46154%;
		}
	.three-fifths {
		clear: none;
		float: left;
		margin-left: 2.5641%;
		width: 58.97436%;
		}
	.four-fifths {
		clear: none;
		float: left;
		margin-left: 2.5641%;
		width: 79.48718%;
		}
	.one-sixth {
		clear: none;
		float: left;
		margin-left: 2.5641%;
		width: 14.52991%;
		}
	.five-sixths {
		clear: none;
		float: left;
		margin-left: 2.5641%;
		width: 82.90598%;
		}
	.first {
		clear: both;
		margin-left: 0;
		}
	}

@media (min-width: 896px) {
	body > div {
		font-size: 1.98rem;
		}
	.wp-block-column {
		margin-right: 4rem;

		flex: 1;
		}
	.wp-block-column:last-of-type {
		margin-right: 0;
		}
	.comment-respond input[type="email"],
	.comment-respond input[type="text"],
	.comment-respond input[type="url"] {
		width: 50%;
		}
	.entry-comments {
		margin-bottom: 60px;
		}
	.entry-pings {
		margin-bottom: 60px;
		}
	.after-entry {
		margin-bottom: 60px;
		padding: 40px 60px;
		}
	.archive-description {
		margin-bottom: 4rem;
		}
	.author-box {
		padding: 4rem;
		}
	.single.full-width-content .author-box {
		-webkit-transform: translateX(-4rem);
		transform: translateX(-4rem);
		width: calc(100% + (8rem));
		}
	.before-content.widget-area,
	.after-content.widget-area {
		margin-bottom: 4rem;
		}
	.content {
		max-width: calc(100% - 30rem - 4rem);
		width: calc(100% - (30rem + 4rem));
		}
	.full-width-content.single .content {
		width: 640px;
		}
	.hero-section {
		padding: 16rem 0 10rem;
		}
	.has-nav-secondary .hero-section {
		padding: 21rem 0 10rem;
		}
	.hero-section h1 {
		font-size: 5.4rem;
		}
	.pagination {
		margin-bottom: 0;
		}
	.entry-image-link {
		margin-bottom: 2rem;
		}
	.single.full-width-content .entry > .entry-meta {
		display: flex;

		justify-content: center;
		}
	.single.full-width-content .entry-meta {
		text-align: center;
		}
	.single .entry-title {
		font-size: 5.4rem;
		margin-bottom: 2rem;
		}
	.single.full-width-content .entry-title {
		max-width: calc(100% + (8rem * 2));
		text-align: center;
		-webkit-transform: translateX(-8rem);
		transform: translateX(-8rem);
		width: calc(100% + (8rem * 2));
		}
	.post-grid .entry-title {
		font-size: 3.15rem;
		}
	.entry {
		margin-bottom: 4rem;
		}
	.entry > img {
		margin-left: auto;
		max-width: 100%;
		-webkit-transform: none;
		transform: none;
		width: 100%;
		}
	.full-width-content .entry > img {
		margin: 2rem auto 4rem;
		max-width: calc(100% + (8rem * 2));
		-webkit-transform: translateX(-8rem);
		transform: translateX(-8rem);
		width: calc(100% + (8rem * 2));
		}
	.post-grid .content .entry {
		width: calc(50% - 2rem);
		}
	.post-grid .content .entry:nth-of-type(5n + 3) .entry-title {
		font-size: 3.6rem;
		}
	.post-grid .content .entry:nth-of-type(5n + 3) .entry-header {
		bottom: 4rem;
		left: 4rem;
		position: absolute;
		right: 4rem;
		}
	.footer-widget-area {
		margin-bottom: 4rem;
		width: calc(33.33333333% - 2rem);
		}
	.back-to-top {
		display: inline-flex;
		float: right;
		margin: 0;
		}
	.custom-logo {
		padding: 1rem 0.5rem;
		}
	.header-widget-area .search-form {
		margin-right: 5rem;
		width: 20rem;
		}
	.title-area {
		padding: 1rem 0;
		}
	.site-inner .wrap {
		display: flex;
		margin: 4rem auto;

		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		}
	.sidebar-content .site-inner .wrap {
		flex-direction: row-reverse;
		}
	.center-content .site-inner .wrap,
	.full-width-content .site-inner .wrap {
		justify-content: center;
		}
	.single.sidebar-content .site-inner .wrap,
	.single.content-sidebar .site-inner .wrap {
		max-width: calc(90rem + 4rem);
		}
	.menu-toggle.activated {
		top: 3rem;
		}
	.no-js .nav-primary {
		width: 100%;
		}
	.no-js .nav-primary .menu {
		display: flex;

		justify-content: center;
		}
	.no-js .nav-secondary .menu {
		width: 100%;
		}
	.after-entry .enews {
		padding-left: 2rem;
		padding-right: 2rem;
		}
	.sidebar .simple-social-icons.widget ul li {
		display: flex;
		margin: 0 0 2rem !important;
		position: relative;
		width: 100%;

		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		}
	.sidebar .simple-social-icons.widget .ssi-label {
		color: #000;
		display: inline-flex;
		font-size: smaller;
		left: 4rem;
		margin-left: 1em;
		position: absolute;
		text-align: left;
		width: 100%;
		}
	.sidebar {
		margin-top: 0;
		width: 30rem;
		}
	.home-top .entry .entry-title {
		font-size: 5.4rem;
		}
	}

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		box-shadow: none !important;
		color: #333 !important;
		text-shadow: none !important;
		}
	a,
	a:visited {
		text-decoration: underline;
		}
	a[href]:after {
		content: " (" attr(href) ")";
		}
	abbr[title]:after {
		content: " (" attr(title) ")";
		}
	a[href^="javascript:"]:after,
	a[href^="#"]:after,
	.site-title > a:after {
		content: "";
		}
	thead {
		display: table-header-group;
		}
	img,
	tr {
		page-break-inside: avoid;
		}
	img {
		max-width: 100% !important;
		}
	@page {
		margin: 2cm 0.5cm;
		}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
		}
	blockquote,
	pre {
		border: 1px solid #999;
		page-break-inside: avoid;
		}
	.content,
	.content-sidebar {
		width: 100%;
		}
	button,
	input,
	select,
	textarea,
	.breadcrumb,
	.comment-edit-link,
	.comment-form,
	.comment-list .reply a,
	.comment-reply-title,
	.edit-link,
	.entry-comments-link,
	.entry-footer,
	.genesis-box,
	.header-widget-area,
	.hidden-print,
	.nav-primary,
	.nav-secondary,
	.post-edit-link,
	.sidebar {
		display: none !important;
		}
	.title-area {
		text-align: center;
		width: 100%;
		}
	.site-title > a {
		margin: 0;
		text-decoration: none;
		text-indent: 0;
		}
	.site-inner {
		padding-top: 0;
		position: relative;
		top: -100px;
		}
	.author-box {
		margin-bottom: 0;
		}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		orphans: 3;
		page-break-after: avoid;
		page-break-inside: avoid;
		widows: 3;
		}
	img {
		page-break-after: avoid;
		page-break-inside: avoid;
		}
	blockquote,
	pre,
	table {
		page-break-inside: avoid;
		}
	dl,
	ol,
	ul {
		page-break-before: avoid;
		}
	}

@media only screen and (max-width: 896px) {
	.hide-m {
		display: none;
		}
	}

@media screen and (min-width: 0 \0) {
	.home-top .entry-image-link img {
		height: auto;
		}
	}

/*# sourceMappingURL=style.css.map */
