/* Genesis Sample WooCommerce
Loaded on WooCommerce pages */
.woocommerce-account .woocommerce-Address-title h3 {
	font-size: 2.6rem;
	}

.woocommerce-account .woocommerce-Address {
	margin-bottom: 20px;
	}

.woocommerce-account table.order_details th.product-total {
	min-width: 110px;
	}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
	text-align: center;
	}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
	display: inline-block;
	margin: 0 10px;
	}

.woocommerce-account .woocommerce-MyAccount-content,
.woocommerce-account .woocommerce-MyAccount-navigation {
	margin-right: 0;
	width: 100%;
	}

.woocommerce-MyAccount-navigation {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 40px;
	padding: 20px;
	}

.woocommerce-MyAccount-navigation ul {
	margin-bottom: 0;
	margin-left: 0;
	}

.woocommerce-MyAccount-navigation ul li {
	line-height: 1.2;
	list-style-type: none;
	margin-bottom: 15px;
	}

.woocommerce-MyAccount-navigation ul li:last-child {
	margin-bottom: 0;
	}

.woocommerce-MyAccount-navigation ul li.is-active > a {
	color: rgba(0, 0, 0, 0.6);
	font-weight: 700;
	}

.content-sidebar.woocommerce-account .woocommerce-MyAccount-navigation ul,
.sidebar-content.woocommerce-account .woocommerce-MyAccount-navigation ul {
	text-align: center;
	}

.content-sidebar.woocommerce-account .woocommerce-MyAccount-navigation li,
.sidebar-content.woocommerce-account .woocommerce-MyAccount-navigation li {
	display: inline-block;
	margin: 0 10px;
	}

.content-sidebar.woocommerce-account .woocommerce-MyAccount-content,
.sidebar-content.woocommerce-account .woocommerce-MyAccount-content {
	width: 100%;
	}

.woocommerce table.my_account_orders .button {
	margin: 5px;
	}

.woocommerce .woocommerce-breadcrumb {
	font-size: 1.8rem;
	margin-bottom: 40px;
	}

.woocommerce .woocommerce-breadcrumb,
.woocommerce .woocommerce-breadcrumb a {
	color: rgba(0, 0, 0, 0.6);
	}

.woocommerce .woocommerce-breadcrumb a {
	text-decoration: none;
	}

.woocommerce .woocommerce-breadcrumb a:focus, .woocommerce .woocommerce-breadcrumb a:hover {
	color: #cc339f;
	}

.woocommerce table.shop_table,
.woocommerce table.shop_table td {
	border-color: rgba(0, 0, 0, 0.1);
	border-radius: 0;
	line-height: 1.75;
	word-break: normal;
	}

.woocommerce table.shop_table .order-number {
	min-width: 75px;
	}

.woocommerce table.shop_table td.actions {
	padding-top: 15px;
	}

.woocommerce-cart table.cart {
	line-height: 1.75;
	}

.woocommerce-cart table.cart td {
	font-size: 1.8rem;
	padding: 10px 12px;
	}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	font-size: 1.8rem;
	margin-bottom: 10px;
	width: 100% !important;
	}

.woocommerce-cart table.cart .product-thumbnail {
	min-width: 56px;
	}

.woocommerce-cart table.cart th.product-name {
	min-width: 140px;
	}

.woocommerce-cart table.cart th.product-price, .woocommerce-cart table.cart th.product-quantity, .woocommerce-cart table.cart th.product-subtotal {
	min-width: 110px;
	}

.woocommerce-cart table.cart img {
	vertical-align: middle;
	}

.woocommerce-cart td.product-name dl.variation dd {
	margin-left: 20px;
	}

.woocommerce-checkout-review-order-table th.product-total {
	min-width: 110px;
	}

.woocommerce-checkout table.cart img,
#add_payment_method table.cart img {
	vertical-align: middle;
	}

.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li,
#add_payment_method #payment ul.payment_methods li {
	list-style-type: none;
	}

.woocommerce-cart #payment div.form-row,
.woocommerce-checkout #payment div.form-row,
#add_payment_method #payment div.form-row {
	margin-bottom: 0;
	}

.woocommerce-cart table.cart td.actions .coupon input.input-text,
.woocommerce-checkout table.cart td.actions .coupon input.input-text,
#add_payment_method table.cart td.actions .coupon input.input-text {
	width: auto;
	}

.woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled] {
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 16px 24px;
	}

.woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt[disabled]:disabled, .woocommerce a.button.alt[disabled]:disabled:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt[disabled]:disabled,
.woocommerce button.button.alt[disabled]:disabled:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt[disabled]:disabled,
.woocommerce input.button.alt[disabled]:disabled:hover,
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt[disabled]:disabled,
.woocommerce #respond input#submit.alt[disabled]:disabled:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 16px 24px;
	}

.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce input.button[type="submit"],
.woocommerce #respond input#submit,
.woocommerce #respond input#submit.alt {
	background-color: #000;
	border: 0;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 1em 2em;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	width: auto;
	}

.woocommerce a.button:hover, .woocommerce a.button:focus,
.woocommerce a.button.alt:hover,
.woocommerce a.button.alt:focus,
.woocommerce button.button:hover,
.woocommerce button.button:focus,
.woocommerce button.button.alt:hover,
.woocommerce button.button.alt:focus,
.woocommerce input.button:hover,
.woocommerce input.button:focus,
.woocommerce input.button.alt:hover,
.woocommerce input.button.alt:focus,
.woocommerce input.button[type="submit"]:hover,
.woocommerce input.button[type="submit"]:focus,
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit:focus,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #respond input#submit.alt:focus {
	background-color: #cc339f;
	color: #fff;
	}

.woocommerce #reviews #comment {
	height: 150px;
	}

.woocommerce .quantity .qty {
	font-size: 2rem;
	line-height: 1.5;
	margin-right: 5px;
	padding: 12px 5px;
	width: 70px;
	}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
	line-height: 1.5;
	padding: 8px 20px;
	}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register,
.woocommerce form .form-row .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select,
.woocommerce form .form-row.woocommerce-validated .select2-container {
	border-color: rgba(0, 0, 0, 0.1);
	border-radius: 0;
	}

.woocommerce .coupon {
	line-height: 1;
	}

.woocommerce .coupon .input-text {
	height: 48px;
	}

.woocommerce input.button,
.woocommerce input.button[type="submit"] {
	width: 100% !important;
	}

.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text,
#add_payment_method table.cart td.actions .coupon .input-text {
	border-color: rgba(0, 0, 0, 0.1);
	padding: 5px 20px;
	width: 150px;
	}

.woocommerce-cart table.cart input,
.woocommerce-checkout table.cart input,
#add_payment_method table.cart input {
	vertical-align: top;
	}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce #reviews #comments .star-rating,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
	float: none;
	width: 100%;
	}

.woocommerce .entry.product {
	padding: 0;
	}

.woocommerce abbr.required,
.woocommerce ins {
	text-decoration: none;
	}

.woocommerce span.onsale {
	background-color: #cc339f;
	border-radius: 0;
	line-height: 1.75;
	min-height: auto;
	}

.woocommerce fieldset {
	margin-bottom: 20px;
	}

.woocommerce .products .star-rating {
	padding: 10px;
	}

.woocommerce p.stars a,
.woocommerce p.stars a:focus,
.woocommerce p.stars a:hover {
	box-shadow: none;
	outline: 0;
	}

.woocommerce .woocommerce-LoopProduct-link {
	display: block;
	}

.woocommerce .woocommerce-LoopProduct-link:focus, .woocommerce .woocommerce-LoopProduct-link:hover {
	box-shadow: none;
	outline: 0;
	}

.woocommerce.full-width-content .content,
.woocommerce-page.full-width-content .content {
	width: 100%;
	}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	background-color: rgba(0, 0, 0, 0.05);
	border-top-color: #cc339f;
	}

.woocommerce-error:before, .woocommerce-error:before, .woocommerce-error:before,
.woocommerce-info:before,
.woocommerce-info:before,
.woocommerce-info:before,
.woocommerce-message:before,
.woocommerce-message:before,
.woocommerce-message:before {
	color: #cc339f;
	}

div.woocommerce-info.wc-memberships-restriction-message.wc-memberships-restricted-content-message {
	width: 48%;
	}

.woocommerce-message .button.wc-forward {
	margin-bottom: 20px;
	width: 100%;
	}

.woocommerce-cart #payment,
.woocommerce-checkout #payment,
#add_payment_method #payment {
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 0;
	padding: 30px;
	}

.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box,
#add_payment_method #payment div.payment_box {
	background-color: rgba(0, 0, 0, 0.1);
	}

.woocommerce-cart #payment div.payment_box:before,
.woocommerce-checkout #payment div.payment_box:before,
#add_payment_method #payment div.payment_box:before {
	display: none;
	}

.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods,
#add_payment_method #payment ul.payment_methods {
	border-color: rgba(0, 0, 0, 0.1);
	}

.woocommerce .woocommerce-product-gallery__wrapper {
	margin: 0;
	}

.woocommerce .woocommerce-product-gallery__trigger {
	border-width: 0;
	}

.woocommerce .woocommerce-product-gallery {
	overflow: hidden;
	}

.woocommerce .woocommerce-product-gallery .flex-control-nav {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding: 0;
	}

.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border-color: rgba(0, 0, 0, 0.1);
	}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 0;
	border-radius: 0;
	display: block;
	margin: 0;
	padding: 0;
	}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:before {
	display: none;
	}

.woocommerce div.product .woocommerce-tabs ul.tabs li:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	border-bottom-color: rgba(0, 0, 0, 0.1);
	}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: #000;
	display: block;
	padding: 0.5em 1em;
	}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:focus, .woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
	box-shadow: none;
	color: #cc339f;
	}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: #cc339f;
	line-height: 1.5;
	}

.woocommerce div.product form.cart .button {
	line-height: 1.5;
	}

.woocommerce div.product form.cart .variations {
	table-layout: fixed;
	}

.woocommerce .woocommerce-variation-price {
	margin-bottom: 20px;
	}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
	background: transparent;
	border: 0;
	margin: 0 16px 24px 0;
	padding: 0;
	position: relative;
	width: 60px;
	}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	border-color: rgba(0, 0, 0, 0.1);
	border-radius: 0;
	margin-left: 80px;
	}

.woocommerce .entry-content #reviews ol > li {
	list-style-type: none;
	}

.woocommerce .content .entry {
	border-bottom: 0;
	}

.woocommerce a.added_to_cart {
	line-height: 1;
	}

.woocommerce a.button.loading:after,
.woocommerce button.button.loading:after,
.woocommerce input.button.loading:after,
.woocommerce #respond input#submit.loading:after {
	top: 1em;
	}

.woocommerce ul.products li.product {
	/* MS Edge Bug Fix */
	}

.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product .price .from {
	color: rgba(0, 0, 0, 0.6);
	}

.woocommerce ul.products li.product h3:hover,
.woocommerce ul.products li.product .price {
	color: #cc339f;
	}

.woocommerce ul.products li.product a {
	transition: color 0.1s ease-in-out, background 0.1s ease-in-out;
	}

.woocommerce nav.woocommerce-pagination {
	clear: both;
	margin: 40px 0;
	}

.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li {
	border: none;
	}

.woocommerce nav.woocommerce-pagination ul li {
	margin-left: 2px;
	margin-right: 2px;
	}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
	background-color: rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.625;
	padding: 8px 12px;
	text-decoration: none;
	}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	}

.woocommerce ul.products li.product .button,
.woocommerce .woocommerce-ordering,
.woocommerce-page ul.products li.product .button,
.woocommerce-page .woocommerce-ordering {
	margin-right: 0;
	width: 100%;
	}

.woocommerce-product-search {
	overflow: hidden;
	width: 100%;
	}

.woocommerce-product-search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
	}

.woocommerce .widget_shopping_cart ul.cart_list li,
.woocommerce.widget_shopping_cart ul.cart_list li {
	padding-top: 15px;
	}

.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
	top: 15px;
	}

.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	}

.woocommerce .widget_shopping_cart .buttons a,
.woocommerce.widget_shopping_cart .buttons a {
	margin-bottom: 5px;
	}

.woocommerce .widget_shopping_cart .cart_list li.empty,
.woocommerce.widget_shopping_cart .cart_list li.empty {
	padding-left: 0;
	}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
	width: 60px;
	}

.sidebar ul.product_list_widget li {
	line-height: 1.4;
	margin-bottom: 15px;
	padding: 15px 0 0;
	}

.sidebar ul.product_list_widget li:last-child {
	margin-bottom: 0;
	padding-bottom: 15px;
	}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce.widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: rgba(0, 0, 0, 0.1);
	}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce.widget_price_filter .ui-slider .ui-slider-range {
	background-color: #cc339f;
	}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce.widget_price_filter .ui-slider .ui-slider-handle {
	top: -0.28em;
	}

.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce.widget_price_filter .price_slider_amount .button {
	font-size: 1.6rem;
	}

.woocommerce .widget_layered_nav ul li.chosen a:before,
.woocommerce .widget_layered_nav_filters ul li a:before,
.woocommerce .widget_rating_filter ul li.chosen a:before {
	color: #cc339f;
	}

.woocommerce.widget_layered_nav_filters ul li {
	margin: 0 20px 20px 0;
	}

.woocommerce.widget_recent_reviews .reviewer {
	font-size: 1.2rem;
	letter-spacing: 1px;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	}

@media (min-width: 640px) {
	.woocommerce-cart table.cart td.actions .coupon .input-text {
		margin-bottom: 0;
		}
	.woocommerce form .form-row-first,
	.woocommerce-page form .form-row-first,
	.woocommerce #reviews #comments .star-rating {
		float: left;
		width: 47%;
		}
	.woocommerce form .form-row-last,
	.woocommerce-page form .form-row-last {
		float: right;
		width: 47%;
		}
	.woocommerce input.button,
	.woocommerce input.button[type="submit"],
	.woocommerce-cart table.cart td.actions .coupon .input-text {
		width: auto !important;
		}
	.woocommerce-message .button.wc-forward {
		margin-bottom: 0;
		width: auto;
		}
	.woocommerce ul.products li.product .button,
	.woocommerce .woocommerce-ordering,
	.woocommerce-page ul.products li.product .button,
	.woocommerce-page .woocommerce-ordering {
		margin-right: auto;
		width: auto;
		}
	}

@media (min-width: 896px) {
	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs {
		padding: 0 0 0 1em;
		}
	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs li {
		background-color: rgba(0, 0, 0, 0.05);
		display: inline-block;
		margin: 0 -5px;
		}
	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
		background-color: #fff;
		border-bottom: 1px solid #fff;
		}
	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after {
		display: none;
		}
	}

@media (min-width: 1024px) {
	.woocommerce div.product .woocommerce-tabs ul.tabs {
		padding: 0 0 0 1em;
		}
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		background-color: rgba(0, 0, 0, 0.05);
		display: inline-block;
		margin: 0 -5px;
		}
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
		background-color: #fff;
		border-bottom: 1px solid #fff;
		}
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after {
		display: none;
		}
	}
