.entry {
	margin-bottom: $spacing--s;

	@include breakpoint(m) {
		margin-bottom: $spacing--m;
	}

	.page &:last-of-type {
		margin-bottom: 0;
	}

	> img {
		width: 100vw;
		max-width: 100vw;
		margin: $spacing--xs 0 $spacing--m;
		margin-left: 50%;
		transform: translateX(-50vw);

		@include breakpoint(m) {
			width: 100%;
			max-width: 100%;
			margin-left: auto;
			transform: none;
		}

		.full-width-content & {

			@include breakpoint(m) {
				width: calc(100% + (#{$spacing--l} * 2));
				max-width: calc(100% + (#{$spacing--l} * 2));
				margin: $spacing--s auto $spacing--m;
				transform: translateX(-$spacing--l);
			}
		}
	}

	.post-grid .content & {
		width: calc(50% - #{$spacing--xs});

		@include breakpoint(m) {
			width: calc(50% - #{$spacing--s});
		}

		&:nth-of-type(5n + 3) {
			overflow: hidden;
			position: relative;
			width: 100%;

			.entry-image-link {
				margin: 0;

				@include overlay;
			}

			.entry-title {
				font-size: larger;

				@include breakpoint(m) {
					font-size: $h1--font-size;
				}
			}

			.entry-header {
				z-index: $z-index--1;
				max-width: $breakpoint--xs;
				color: $white;

				@include position(absolute, null, $spacing--s, $spacing--s, $spacing--s);

				@include breakpoint(m) {

					@include position(absolute, null, $spacing--m, $spacing--m, $spacing--m);
				}
			}

			a {
				color: $white;
			}
		}
	}
}
