.comment-content,
.entry-content {

	a {
		box-shadow: inset 0 -2px 0 $accent;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $accent;
		}
	}

	p {

		&:empty {
			display: none;
		}

		&.has-background {
			padding: 25px 30px;

			&.box-shadow {
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
			}

			&.light-text {

				a {
					color: $white;
					text-decoration: underline;

					&:focus,
					&:hover {
						text-decoration: none;
					}
				}

			}
		}
	}

	li {

		ol,
		ul {
			margin-bottom: 0;
		}
	}

	ol,
	ul {
		margin-bottom: $spacing--s;
		margin-left: $spacing--s;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	code,
	kbd,
	samp {
		padding: 0.1rem 1rem;
		background-color: $code--background-color;
		font-size: 90%;
	}

	pre {
		overflow-x: scroll;
		padding: 1em;
		background-color: $code--background-color;

		code,
		kbd,
		samp {
			padding: 0;
			background-color: transparent;
			font-size: 90%;
		}
	}

	.caption {
		margin-top: -$spacing--s;
		font-size: $entry-content__caption--font-size;
		font-weight: $font-weight--semibold;
		text-align: center;
	}
}

.content .sticky {
	padding: $spacing--s;
	background-color: $sticky--background-color;
}
