.entry-image-link {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-bottom: $spacing--xs;

	@include breakpoint(m) {
		margin-bottom: $spacing--s;
	}

	.post-grid & {

		img {
			width: 100%;
			margin: 0;
		}
	}
}
