.entry-title {
	margin-bottom: $spacing--xs;
	font-size: $entry-title--font-size;

	.single & {

		@include breakpoint(m) {
			margin-bottom: $spacing--s;
			font-size: $body--font-size * 3;
		}
	}

	.single.full-width-content & {

		@include breakpoint(m) {
			width: calc(100% + (#{$spacing--l} * 2));
			max-width: calc(100% + (#{$spacing--l} * 2));
			text-align: center;
			transform: translateX(-#{$spacing--l});
		}
	}

	.post-grid & {
		font-size: $h5--font-size;

		@include breakpoint(m) {
			font-size: $entry-title--font-size;
		}
	}

	a {
		color: $entry-title__link--font-color;

		&:focus,
		&:hover {
			color: $entry-title__link--font-color;
		}
	}

}
