.entry-meta {
	margin-bottom: $spacing--xs;
	font-size: smaller;
	line-height: $line-height--s;

	.entry-title + &,
	.entry > & {
		margin-bottom: $spacing--xs;
	}

	.post-grid & {
		margin: 0;
		font-size: small;
	}

	.single.full-width-content .entry > & {

		@include breakpoint(m) {
			display: flex;
			justify-content: center;
		}
	}

	.single.full-width-content & {

		@include breakpoint(m) {
			text-align: center;
		}
	}

	.entry-footer & {
		padding-top: $spacing--s;
	}

	p {
		margin-bottom: 0;
		font-size: $entry-meta--font-size;
	}
}

.entry-categories,
.entry-tags {
	display: flex;

	a {
		display: inline-block;
		margin-right: 0.2em;
		margin-bottom: $spacing--xs;
		padding: 0.1em 0.5em;
		color: $white;
		background-color: $accent;
		font-family: $heading--font-family;
		font-size: small;
		font-weight: $font-weight--regular;
		text-transform: uppercase;

		.single & {
			margin: 0;
		}
	}
}

.entry-comments-link:before {
	margin: 0 6px 0 2px;
	content: "\2014";
}
