.home-top {
	overflow: hidden;
	position: relative;
	margin:0 auto;
	max-width: 1152px;
	width:90%;
	
	@include overlay;

	&:before {
		z-index: 99;
	}

	.sidebar-content .site-inner & {

		.wrap {
			flex-direction: row;
		}
	}

	.full-width-content .site-inner & {

		.wrap {
			justify-content: flex-start;
		}
	}

	.entry {
		max-width: $breakpoint--xs;
		margin: $spacing--xxl 0 0;
		color: $white;

		> * {
			position: relative;
			z-index: $z-index--1;
		}

		.entry-title {
			margin-bottom: $spacing--s;
			font-size: $h1--font-size;

			@include breakpoint(m) {
				font-size: $hero-section__h1--font-size;
			}
		}
	}

	.entry-image-link {
		z-index: 0;
		width: 100%;
		height: 100%;
		margin: 0;

		@include position(absolute, 0, 0, 0, 0);

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;

			@media screen and (min-width: 0 \0) {
				height: auto;
			}
		}
	}

	a {
		color: $white;

		&:hover,
		&:focus {
			color: $white;
		}
	}
}
