/// Helper mixin to generate media queries.
///
/// @param {Breakpoint} $breakpoint [m] - Breakpoint size
/// @param {Query} $query [$mobile-first] - Element's height
/// @output Media query
///
/// @example scss - Media query `.foo`
///   .foo {
///     display: none;
///     @include breakpoint(s) {
///       display: block;
///     }
///   }
@mixin breakpoint( $breakpoint ) {

	@if map-has-key($breakpoints, $breakpoint) {

		@media (min-width: #{ map-get($breakpoints, $breakpoint) }) {

			@content;
		}

	} @else if type_of( $breakpoint ) == number and unit( $breakpoint ) == px or unit( $breakpoint ) == em or unit( $breakpoint ) == rem {

		@media (min-width: $breakpoint) {

			@content;
		}

	} @else {

		@warn "No value could be retrieved from `#{$breakpoint}`. "
			+ "Please make sure it is defined in `$breakpoints` map, or it is a valid number with supported unit of px, em or rem.";
	}
}

/// Provides an easy way to include a clearfix for containing floats.
///
/// @link https://goo.gl/yP5hiZ
///
/// @example scss
///   .element {
///     @include clearfix;
///   }
///
///   // CSS Output
///   .element::after {
///     clear: both;
///     content: "";
///     display: block;
///   }
@mixin clearfix {

	&:before,
	&:after {
		display: block;
		clear: both;
		content: " ";
	}
}

/// Helper mixin to generate fade in animation.
///
/// @param {Speed} $speed [1s] - Animation speed
/// @output Fade in animation
///
/// @example scss - Example
///   .foo {
///     -webkit-animation: fade-in 1s;
///     animation: fade-in 1s;
///   }
@mixin fade-in($speed: 1s) {
	animation: fade-in $speed;
}

/// Font smoothing
@mixin font-smoothing($value: antialiased) {

	@if $value == antialiased {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
	} @else {
		-moz-osx-font-smoothing: auto;
		-webkit-font-smoothing: subpixel-antialiased;
	}
}

/// Overlay mixin.
@mixin overlay {

	&:before {
		display: block;
		background: linear-gradient(to top, rgba($black, 0.8) 0%, rgba($black, 0) 100%);
		content: " ";

		@include position(absolute, 0, 0, 0, 0);
	}
}

/// Placeholder mixin
@mixin placeholder {

	::-webkit-input-placeholder {

		@content;
	}

	:-moz-placeholder {

		@content;
	}

	::-moz-placeholder {

		@content;
	}

	:-ms-input-placeholder {

		@content;
	}
}

/// Shorthand mixin for offset positioning
///
/// @param {String} $position - Either `relative`, `absolute` or `fixed`
/// @param {Length} $top [null] - Top offset
/// @param {Length} $right [null] - Right offset
/// @param {Length} $bottom [null] - Bottom offset
/// @param {Length} $left [null] - Left offset
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

/// Screen reader text
@mixin screen-reader-text($focus: null) {

	@if null == $focus {
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute !important;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		clip-path: inset(50%);
		word-wrap: normal !important;
	} @else if focus == $focus {
		display: block;
		clip: auto !important;
		z-index: 100000;
		top: 5px;
		left: 5px;
		width: auto;
		height: auto;
		padding: 15px 23px 14px;
		color: #444;
		background-color: #eee;
		clip-path: none;
		font-size: 1em;
		line-height: normal;
		text-decoration: none;
	}
}
