// ------------------------------------------------------------------
// Globals
// ------------------------------------------------------------------

$phi: 1.6180339887498948482; // Golden ratio.
$phi_alt: 3 - $phi; // Other ratio.
$rem-scale: 62.5%; // 10px default.
$transition: 0.2s ease; // Global transition.

// ------------------------------------------------------------------
// Breakpoints
// ------------------------------------------------------------------

$breakpoints: (
	xxs: 512px,
	xs: 640px,
	s: 768px,
	m: 896px,
	l: 1024px,
	xl: 1152px,
	xxl: 1280px,
);

$breakpoint--xxs: map_get($breakpoints, xxs);
$breakpoint--xs: map_get($breakpoints, xs);
$breakpoint--s: map_get($breakpoints, s);
$breakpoint--m: map_get($breakpoints, m);
$breakpoint--l: map_get($breakpoints, l);
$breakpoint--xl: map_get($breakpoints, xl);
$breakpoint--xxl: map_get($breakpoints, xxl);

// ------------------------------------------------------------------
// Spacing
// ------------------------------------------------------------------

$base--spacing: 4rem;

$spacing--xxs: $base--spacing / 6;
$spacing--xs: $base--spacing / 4;
$spacing--s: $base--spacing / 2;
$spacing--m: $base--spacing;
$spacing--l: $base--spacing * 2;
$spacing--xl: $base--spacing * 4;
$spacing--xxl: $base--spacing * 6;
$spacing--xxl: $base--spacing * 8;

// Padding.
$button--padding: $spacing--s $spacing--m;

// Widths.
$sidebar--width: 30rem; // Adsense
$content--width: calc(100% - (#{$sidebar--width} + #{$spacing--m}));
$single__content--width: $content--width;

// ------------------------------------------------------------------
// Typography
// ------------------------------------------------------------------

// Font stacks.
$font-stack--system: -apple-system, blinkmacsystemfont, "segoe ui", roboto, helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";

// Font families.
$body--font-family: $font-stack--system;
$heading--font-family: "Oswald", $font-stack--system;

// Font sizes.
$base__font-size: 1.8rem;
$body--font-size: $base--font-size;
$h1--font-size: $base__font-size * 2;
$h2--font-size: $base__font-size * 1.75;
$h3--font-size: $base__font-size * 1.5;
$h4--font-size: $base__font-size * 1.25;
$h5--font-size: $base__font-size * 1.125;
$h6--font-size: $base__font-size * 1;
$button--font-size: 1.6rem;
$hero-section__h1--font-size: $h1--font-size * 1.5;
$archive-description__entry-title--font-size: 2rem;
$author-box-title--font-size: $archive-description__entry-title--font-size;
$breadcrumb--font-size: 1.6rem;
$entry-title--font-size: $h2--font-size;
$featured-content__entry-title--font-size: 1.6rem;
$enews-widget__input--font-size: 1.6rem;
$site-title--font-size: $h4--font-size;
$genesis-nav-menu--font-size: 1.6rem;
$genesis-nav-menu__sub-menu__link--font-size: 1.4rem;
$sidebar--font-size: 1.6rem;
$entry-content__caption--font-size: 1.4rem;
$entry-meta--font-size: 1.6rem;
$comments--font-size: 1.8rem;
$site-footer--font-size: 1.5rem;
$footer-widgets--font-size: $site-footer--font-size;
$form--font-size: 1.6rem; // Prevent iOS zoom
$widget-title--font-size: $h3--font-size;
$archive-pagination--font-size: 1.6rem;
$blockquote__before--font-size: 3rem;
$after-entry__breadcrumb--font-size: 1.6rem;
$screen-reader--font-size-focus: 1em;

// Font weights.
$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--semibold: 600;
$font-weight--bold: 700;

// Line heights.
$line-height--xl: $phi * 1.2;
$line-height--l: $phi * 1.1;
$line-height--m: $phi;
$line-height--s: $phi * 0.9;
$line-height--xs: $phi * 0.8;

// WooCommerce.
$shop-page-navigation-link--font-size: 1.6rem;
$cart-table-td--font-size: 1.8rem;
$form-button--font-size: 1.6rem;
$form-quantity-qty--font-size: 2rem;
$account-page-address-title-h3--font-size: 2.6rem;
$breadcrumb-breadcrumb--font-size: 1.8rem;
$widgets-price-filter-price-slider-amount-button--font-size: 1.6rem;
$widgets-recent-reviews-reviewer--font-size: 1.2rem;

// ------------------------------------------------------------------
// Colors
// ------------------------------------------------------------------

// Base Colors.
$white: #fff;
$black: #000;
$accent: #cc339f;
$mark: #fdffb6;
$main: #cc339f;
$darkest-gray: rgba($black, 0.8);
$darker-gray: rgba($black, 0.7);
$dark-gray: rgba($black, 0.6);
$medium-gray: rgba($black, 0.5);
$light-gray: rgba($black, 0.25);
$lighter-gray: rgba($black, 0.1);
$lightest-gray: rgba($black, 0.05);

// Font colors.
$body--font-color: $black;
$link--font-color: $black;
$link--font-color-hover: $black;
$button--font-color: $white;
$button--font-color-hover: $white;
$hero-section--color: $white;
$entry-title__link--font-color: $black;
$entry-title__link--font-color-hover: $accent;
$site-title__link--font-color: $main;
$genesis-nav-menu--font-color: $white;
$genesis-nav-menu--font-color-hover: $accent;
$menu-toggle--font-color: $black;
$menu-toggle--font-color-hover: $main;
$sub-menu-toggle--font-color: $black;
$sub-menu-toggle--font-color-hover: $accent;
$menu-highlight__link--font-color: $white;
$sidebar__widget-title--font-color: $black;
$form--font-color: $black;
$archive-pagination--font-color: $black;
$archive-pagination--font-color-hover: $white;
$enews__sidebar--text-color: $white;
$gs-faq__question--font-color: $black;
$gs-faq__question--font-color-hover: $accent;
$disabled--font-color: $medium-gray;
$site-footer--font-color: rgba($white, 0.8);

// Background colors.
$body--background-color: $white;
$page-boxed--background-color: $lightest-gray;
$site-container--background-color: $white;
$site-header--background-color: $white;
$mark--background-color: $mark;
$button--background-color: $black;
$button--background-color-hover: $accent;
$genesis-nav-menu__sub-menu__link--background-color: $white;
$nav-primary--background-color: $black;
$nav-secondary--background-color: $black;
$menu-toggle--background-color: transparent;
$menu-toggle__hamburger--background-color: $black;
$sub-menu-toggle--background-color: transparent;
$hero-section--background-color: $black;
$footer-widgets--background-color: $white;
$site-footer--background-color: $black;
$menu-highlight__link--background-color: $black;
$menu-highlight__link--background-color-hover: $accent;
$forms__background-color: transparent;
$sticky--background-color: $lightest-gray;
$author-box--background-color: $lightest-gray;
$code--background-color: $lightest-gray;
$archive-pagination--background-color: $lightest-gray;
$archive-pagination--background-color-hover: $black;
$enews__sidebar--background-color: $black;
$enews__button--background-color: $accent;
$disabled--background-color: $lighter-gray;
$gs-faq__question--background-color: transparent;
$gs-faq__question--background-color-hover: $gs-faq__question--background-color;

// Social
$color--dribbble: #ea4c89;
$color--email: #049fb3;
$color--facebook: #3b5998;
$color--flickr: #ff0084;
$color--github: #333;
$color--gplus: #dd4b39;
$color--linkedin: #007bb6;
$color--pinterest: #bd081c;
$color--rss: #f60;
$color--stumbleupon: #eb4823;
$color--tumblr: #32506d;
$color--twitter: #1da1f2;
$color--vimeo: #aad450;
$color--youtube: #f00;
$color--snapchat: #fffc00;
$color--instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);

// ------------------------------------------------------------------
// Borders
// ------------------------------------------------------------------

$border-radius: 0;
$border-width: 1px;
$border-style: solid;
$border-color: $lighter-gray;
$border: $border-width $border-style $border-color;

// ------------------------------------------------------------------
// Box Shadow
// ------------------------------------------------------------------

$box-shadow-blur-radius: 20px;
$box-shadow-opacity: 0.075;
$box-shadow: 0 0 $box-shadow-blur-radius rgba($dark-gray, $box-shadow-opacity);

// ------------------------------------------------------------------
// Z Index
// ------------------------------------------------------------------

$z-index: (
	"1": 100,
	"2": 200,
	"3": 300,
	"4": 400,
	"5": 500,
	"6": 600,
	"7": 700,
	"8": 800,
	"9": 900,
);

$z-index--1: map_get($z-index, "1");
$z-index--2: map_get($z-index, "2");
$z-index--3: map_get($z-index, "3");
$z-index--4: map_get($z-index, "4");
$z-index--5: map_get($z-index, "5");
$z-index--6: map_get($z-index, "6");
$z-index--7: map_get($z-index, "7");
$z-index--8: map_get($z-index, "8");
$z-index--9: map_get($z-index, "9");
