.custom-logo {
	display: flex;
	width: 14rem;
	min-height: 6rem;
	padding: 1.25rem 0.5rem;

	@include breakpoint(m) {
		//width: 18rem;
		padding: 1rem 0.5rem;
	}
}

.woocommerce .custom-logo,
.woocommerce-page .custom-logo {
	height: 6rem;
}
