.header-widget-area {
	position: absolute;
	right: 0;

	.widget_search {

		.widget-wrap {
			display: flex;
			justify-content: flex-end;
		}
	}

	.search-form {
		display: none;
		overflow: hidden;
		z-index: $z-index--3;
		width: calc(90vw + 1em);
		height: 5rem;
		align-items: center;
		margin: auto 0;

		@include position(absolute, 0, 0, 0, null);

		@include breakpoint(m) {
			width: 20rem;
			margin-right: 5rem;
		}

		.entry-content & {
			width: 50%;
			margin-bottom: 40px;
		}

		input {
			padding: 1em;
			border: 0;
			border-radius: $border-radius;
			border-radius: 0;
			color: $white;
			background-color: $white;
			line-height: 1;

			&:focus {
				outline: none;
			}
		}

		@include placeholder {
			color: rgba($black, 0.6);
		}
	}

	.search-toggle {
		display: flex;
		z-index: $z-index--4;
		width: 4rem;
		height: 4rem;
		margin: auto -0.7rem auto 0;
		padding: 0;
		border-radius: 7rem;
		background-color: transparent;
		justify-content: center;
		align-items: center;

		@include position(absolute, 0, 0, 0, null);

		&:hover,
		&:focus {
			background-color: transparent;
		}
	}

	.search-icon {
		display: block;
		position: relative;
		width: 2rem;
		height: 2rem;
		margin-right: 0.7rem;
		border: 3px solid $black;
		border-radius: 2rem;
		transition: transform $transition;

		.activated & {
			transform: rotate(90deg);
		}

		&:after {
			display: block;
			width: 3px;
			height: 1rem;
			background-color: $black;
			content: " ";
			transform: rotate(-45deg);

			@include position(absolute, 1.2rem, null, null, 1.5rem);
		}
	}

	.post-password-form input[type="submit"],
	.search-form input[type="submit"] {
		margin-top: 10px;
	}

	.widget_search input[type="submit"] {
		display: none;

		&:focus {
			outline: none;
		}
	}

}
