.site-title {
	margin-bottom: 0;
	border-bottom: 3px solid $accent;
	font-family: $heading--font-family;
	font-size: $site-title--font-size;
	font-weight: $font-weight--bold;
	font-style: italic;
	line-height: $line-height--s;
	text-transform: uppercase;

	.wp-custom-logo & {

		@include screen-reader-text;
	}
}
