.site-header {
	z-index: 9999;
	width: 100%;
	background-color: $site-header--background-color;

	.has-sticky-header & {
		position: fixed;
	}

	> .wrap {
		display: flex;
		position: relative;
		height: 100%;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
}
