.title-area {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 30rem;
	margin: 0 auto;

	@include breakpoint(m) {
		//height: 10rem;
		padding: 1rem 0;
	}

	a,
	a:focus,
	a:hover {
		color: $site-title__link--font-color;
		box-shadow: none;
	}
}
