.woocommerce table.shop_table {

	&,
	td {
		border-color: $lighter-gray;
		border-radius: 0;
		line-height: 1.75;
		word-break: normal;
	}

	.order-number {
		min-width: 75px;
	}

	td.actions {
		padding-top: 15px;
	}
}

.woocommerce-cart table.cart {
	line-height: 1.75;

	td {
		padding: 10px 12px;
		font-size: 1.8rem;

		&.actions .coupon .input-text {
			width: 100% !important;
			margin-bottom: 10px;
			font-size: 1.8rem;

			@include breakpoint( xs ) {
				margin-bottom: 0;
			}
		}
	}

	.product-thumbnail {
		min-width: 56px;
	}

	th {

		&.product-name {

			min-width: 140px;
		}

		&.product-price,
		&.product-quantity,
		&.product-subtotal {
			min-width: 110px;
		}
	}

	img {
		vertical-align: middle;
	}
}

.woocommerce-cart td.product-name dl.variation dd {
	margin-left: 20px;
}

.woocommerce-checkout-review-order-table th.product-total {
	min-width: 110px;
}

.woocommerce-checkout table.cart img,
#add_payment_method table.cart img {
	vertical-align: middle;
}
