.woocommerce {

	a.button,
	button.button,
	input.button,
	#respond input#submit {

		&.disabled,
		&:disabled,
		&:disabled[disabled] {
			padding: 16px 24px;
			color: $white;
			background-color: $dark-gray;
		}

		&.alt {

			&.disabled,
			&.disabled:hover,
			&:disabled,
			&:disabled:hover,
			&[disabled]:disabled,
			&[disabled]:disabled:hover {
				padding: 16px 24px;
				color: $white;
				background-color: $dark-gray;
			}
		}
	}
}
