.woocommerce {

	.entry.product {
		padding: 0;
	}

	abbr.required,
	ins {
		text-decoration: none;
	}

	span.onsale {
		min-height: auto;
		border-radius: 0;
		background-color: $accent;
		line-height: 1.75;
	}

	fieldset {
		margin-bottom: 20px;
	}

	.products .star-rating {
		padding: 10px;
	}

	p.stars {

		a,
		a:focus,
		a:hover {
			outline: 0;
			box-shadow: none;
		}
	}

	.woocommerce-LoopProduct-link {
		display: block;

		&:focus,
		&:hover {
			outline: 0;
			box-shadow: none;
		}
	}
}

.woocommerce.full-width-content .content,
.woocommerce-page.full-width-content .content {
	width: 100%;
	max-width: map_get($breakpoints, lg);
}
