.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	border-top-color: $accent;
	background-color: $lightest-gray;

	&:before,
	&:before,
	&:before {
		color: $accent;
	}
}

div.woocommerce-info.wc-memberships-restriction-message.wc-memberships-restricted-content-message {
	width: 48%;
}

.woocommerce-message .button.wc-forward {
	width: 100%;
	margin-bottom: 20px;

	@include breakpoint( xs ) {
		width: auto;
		margin-bottom: 0;
	}
}
