.woocommerce-cart #payment,
.woocommerce-checkout #payment,
#add_payment_method #payment {
	padding: 30px;
	border-radius: 0;
	background-color: $lightest-gray;

	div.payment_box {
		background-color: $lighter-gray;
	}

	div.payment_box:before {
		display: none;
	}

	ul.payment_methods {
		border-color: $lighter-gray;
	}
}
