.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding: 0;

	&:before,
	li {
		border-color: $lighter-gray;
	}

	li {
		display: block;
		margin: 0;
		padding: 0;
		border: 1px solid $lighter-gray;
		border-bottom: 0;
		border-radius: 0;
		background-color: $white;

		&:after,
		&:before {
			display: none;
		}

		&:last-child {
			border-bottom: 1px solid $lighter-gray;
		}

		&.active {
			border-bottom-color: $lighter-gray;
		}

		a {
			display: block;
			padding: 0.5em 1em;
			color: $link--font-color;

			&:focus,
			&:hover {
				color: $accent;
				box-shadow: none;
			}
		}
	}
}


@include breakpoint(m) {

	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs {
		padding: 0 0 0 1em;
	}

	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs li {
		display: inline-block;
		margin: 0 -5px;
		background-color: $lightest-gray;
	}

	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
		border-bottom: 1px solid $white;
		background-color: $white;
	}

	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after {
		display: none;
	}

}

@include breakpoint(l) {

	.woocommerce div.product .woocommerce-tabs ul.tabs {
		padding: 0 0 0 1em;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		display: inline-block;
		margin: 0 -5px;
		background-color: $lightest-gray;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
		border-bottom: 1px solid $white;
		background-color: $white;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after {
		display: none;
	}

}
