.woocommerce {

	div.product {

		p.price,
		span.price {
			color: $accent;
			line-height: 1.5;
		}

		form.cart {

			.button {
				line-height: 1.5;
			}

			.variations {
				table-layout: fixed;
			}
		}
	}

	.woocommerce-variation-price {
		margin-bottom: 20px;
	}
}

@include breakpoint( xs ) {

	.woocommerce ul.products li.product .button,
	.woocommerce .woocommerce-ordering,
	.woocommerce-page ul.products li.product .button,
	.woocommerce-page .woocommerce-ordering {
		width: auto;
		margin-right: auto;
	}
}
