.woocommerce {

	#reviews #comments ol.commentlist li {

		img.avatar {
			position: relative;
			width: 60px;
			margin: 0 16px 24px 0;
			padding: 0;
			border: 0;
			background: transparent;
		}

		.comment-text {
			margin-left: 80px;
			border-color: $lighter-gray;
			border-radius: 0;
		}
	}

	.entry-content #reviews ol > li {
		list-style-type: none;
	}
}
