.gs-faq {
	padding: 5px 0;
}

.gs-faq__answer {

	p:last-of-type {
		margin-bottom: 0;
	}

	.js & {
		display: none;
		padding: 5px;
	}

	&.no-animation.gs-faq--expanded {
		display: block;
	}
}

.gs-faq__question {
	display: none;
	width: 100%;
	margin-top: 10px;
	padding-right: 0;
	padding-left: 0;
	border-bottom: $border;
	color: $gs-faq__question--font-color;
	background: $gs-faq__question--background-color;
	text-align: left;
	white-space: normal;
	justify-content: space-between;

	&:focus,
	&:hover {
		color: $gs-faq__question--font-color-hover;
		background: $gs-faq__question--background-color-hover;
	}

	&:after {
		content: "+";
	}

	&:first-of-type {
		margin-top: 0;
	}

	&.gs-faq--expanded:after {
		content: "−";
	}

	.js & {
		display: flex;
	}
}

.gs-faq__answer__heading {

	.js & {

		display: none;
	}
}
