.enews {

	form + p {
		margin-top: $spacing--s;
	}

	.after-entry & {
		padding: $spacing--xs;
		text-align: center;

		@include breakpoint(m) {
			padding-right: $spacing--s;
			padding-left: $spacing--s;
		}
	}

	.sidebar & {
		padding: $spacing--s;
		color: $enews__sidebar--text-color;
		background-color: $enews__sidebar--background-color;

		p {
			font-size: small;
		}
	}

	.sidebar & {

		@include placeholder {
			color: rgba($white, 0.6);
		}

		input {
			color: $white;
			background-color: rgba($white, 0.2);
		}
	}

	.site-footer & {

		@include placeholder {
			color: rgba($white, 0.6);
		}

		input {
			color: $white;
			background-color: rgba($white, 0.2);
		}

		input[type="submit"] {
			display: none;
		}

		p {
			margin-top: 0;
		}
	}
}

.enews-widget {

	input {
		margin-bottom: 1em;
		font-size: $enews-widget__input--font-size;

		&[type="submit"] {
			width: 100%;
			margin: 0;
			background-color: $button--background-color-hover;

			&:hover,
			&:focus {
				box-shadow: inset 0 0 0 9rem rgba($white, 0.2);
			}
		}

		.after-entry & {
			text-align: center;
		}
	}
}
