/* Simple Social Icons
--------------------------------------------- */

.simple-social-icons {

	a,
	a:hover,
	a:focus {
		box-shadow: none;
	}

	.footer-widgets & {
		margin-left: -1em;
	}
}

.sidebar {

	.simple-social-icons.widget {

		ul {
			display: flex;
			flex-wrap: wrap;
			width: 100%;

			li {

				@include breakpoint(m) {
					display: flex;
					position: relative;
					width: 100%;
					margin: 0 0 $spacing--s !important;
					flex-wrap: wrap;
					justify-content: space-between;
					align-items: center;
				}

				&:last-of-type {
					margin-bottom: 0 !important;
				}
			}
		}

		.ssi-label {
			display: none;

			@include breakpoint(m) {
				display: inline-flex;
				position: absolute;
				left: $spacing--m;
				width: 100%;
				margin-left: 1em;
				color: $black;
				font-size: smaller;
				text-align: left;
			}
		}

		.ssi-instagram {

			a,
			a:hover {
				color: $white !important;
				background: $color--instagram !important;
			}
		}

		.ssi-dribbble {

			a,
			a:hover {
				color: $white !important;
				background: $color--dribbble !important;
			}
		}

		.ssi-email {

			a,
			a:hover {
				color: $white !important;
				background: $color--email !important;
			}
		}

		.ssi-facebook {

			a,
			a:hover {
				color: $white !important;
				background: $color--facebook !important;
			}
		}

		.ssi-flickr {

			a,
			a:hover {
				color: $white !important;
				background: $color--flickr !important;
			}
		}

		.ssi-github {

			a,
			a:hover {
				color: $white !important;
				background: $color--github !important;
			}
		}

		.ssi-gplus {

			a,
			a:hover {
				color: $white !important;
				background: $color--gplus !important;
			}
		}

		.ssi-linkedin {

			a,
			a:hover {
				color: $white !important;
				background: $color--linkedin !important;
			}
		}

		.ssi-pinterest {

			a,
			a:hover {
				color: $white !important;
				background: $color--pinterest !important;
			}
		}

		.ssi-rss {

			a,
			a:hover {
				color: $white !important;
				background: $color--rss !important;
			}
		}

		.ssi-stumbleupon {

			a,
			a:hover {
				color: $white !important;
				background: $color--stumbleupon !important;
			}
		}

		.ssi-tumblr {

			a,
			a:hover {
				color: $white !important;
				background: $color--tumblr !important;
			}
		}

		.ssi-twitter {

			a,
			a:hover {
				color: $white !important;
				background: $color--twitter !important;
			}
		}

		.ssi-vimeo {

			a,
			a:hover {
				color: $white !important;
				background: $color--vimeo !important;
			}
		}

		.ssi-youtube {

			a,
			a:hover {
				color: $white !important;
				background: $color--youtube !important;
			}
		}

		.ssi-snapchat {

			a,
			a:hover {
				color: $white !important;
				background: $color--snapchat !important;
			}
		}
	}
}

.ssi-label {
	display: none;
}
