.site-inner {
	clear: both;
	margin: 0 auto;

	.wrap {
		margin: $spacing--s auto $spacing--m;

		@include breakpoint(m) {
			display: flex;
			margin: $spacing--m auto;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;

			.sidebar-content & {
				flex-direction: row-reverse;
			}

			.center-content &,
			.full-width-content & {
				justify-content: center;
			}
		}

		.single.sidebar-content &,
		.single.content-sidebar & {

			@include breakpoint(m) {
				max-width: calc(90rem + #{$spacing--m});
			}
		}
	}

}
