.footer-credits {

	.wrap {

		@include breakpoint(s) {
			display: flex;
			justify-content: space-between;
		}
	}

	p {
		display: inline;
		margin-bottom: 0;
	}
}

.backtotop {
	margin-left: 1em;
}