.footer-widgets {
	clear: both;
	border-bottom: $border;
	font-size: $footer-widgets--font-size;
	text-align: left;

	.wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.widget:last-child {
		margin-bottom: 0;
	}
}
