.site-footer {
	padding: $spacing--m 0;
	border-top: $border;
	color: $site-footer--font-color;
	background-color: $site-footer--background-color;
	font-size: $site-footer--font-size;
	text-align: center;
	text-align: left;

	> .wrap {

		p {
			margin-bottom: 0;
		}
	}

	a {
		color: $site-footer--font-color;
	}
}

.back-to-top {
	display: flex;
	margin-top: $spacing--s;

	@include breakpoint(m) {
		display: inline-flex;
		float: right;
		margin: 0;
	}
}
