button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	display: inline-block;
	width: auto;
	padding: 15px 30px;
	border: 0;
	color: $button--font-color;
	background-color: $button--background-color;
	font-size: $button--font-size;
	font-weight: $font-weight--semibold;
	white-space: normal;
	text-decoration: none;
	cursor: pointer;
	transition: all $transition;

	&:focus,
	&:hover {
		border: none;
		color: $button--font-color-hover;
		background-color: $button--background-color-hover;
	}

	&:disabled,
	&:disabled:hover {
		border-width: 0;
		color: $disabled--font-color;
		background-color: $disabled--background-color;
		cursor: not-allowed;
	}

	&.alt {
		background-color: $button--background-color-hover;

		&:hover,
		&:focus {
			background-color: $button--background-color;
		}
	}

	&.small {
		padding: 8px 16px;
	}

	.entry-content {

		&:focus,
		&:hover {
			color: $button--font-color-hover;
		}
	}
}
