input,
select,
textarea {
	width: 100%;
	padding: 1em;
	border: $border-width $border-style $lighter-gray;
	border-radius: $border-radius;
	color: $form--font-color;
	background-color: $forms__background-color;
	background-clip: padding-box; // Remove iOS box shadow
	box-shadow: none;
	font-size: $form--font-size;
	font-weight: $font-weight--regular;

	&:focus,
	&:focus {
		border: $border-width $border-style $medium-gray;
		outline: none;
	}
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	opacity: 1;
	color: $dark-gray;
}

::-webkit-input-placeholder {
	color: $dark-gray;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

input:disabled,
input:disabled:hover {
	border-width: 0;
	color: $disabled--font-color;
	background-color: $disabled--background-color;
	cursor: not-allowed;
}

input[type="search"] {
	-webkit-appearance: none;
}

input[type="color"] {
	height: 3em;
}

legend {
	display: table;
	float: left;
	width: 100%;
	margin: 0;
	margin-bottom: $spacing--s;
	padding: 0;
	font-family: $heading--font-family;
	font-size: $h5--font-size;
	font-weight: $font-weight--semibold;
	text-transform: uppercase;

	+ * {
		clear: both;
	}
}

fieldset {
	min-width: 0;
	margin: 0;
	padding: 0.01em 0 0 0;
	border: 0;
}

body:not(:-moz-handler-blocked) fieldset {
	display: table-cell;
}
