h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 $spacing--s;
	font-family: $heading--font-family;
	font-weight: $font-weight--semibold;
	line-height: $line-height--xs;
}

h1 {
	font-size: $h1--font-size;
}

h2 {
	font-size: $h2--font-size;
}

h3 {
	font-size: $h3--font-size;
}

h4 {
	font-size: $h4--font-size;
}

h5 {
	font-size: $h5--font-size;
}

h6 {
	font-size: $h6--font-size;
}
