table {
	width: 100%;
	margin-bottom: 40px;
	border-spacing: 0;
	border-collapse: collapse;
	word-break: break-all;
}

tbody {
	border-bottom: $border;
}

th {
	background-color: $lightest-gray;
	font-size: smaller;
}

td {
	border-top: $border;
	text-align: left;
}

th,
td {
	padding: $spacing--xxs;
	border: $border;
}
