html {
	background-color: $black;
	font-size: $rem-scale; /* 10px browser default */

	@include font-smoothing;
}

/* Chrome fix */
body > div {
	font-size: $body--font-size;

	@include breakpoint(m) {
		font-size: $body--font-size * 1.1;
	}
}

body {
	overflow-x: hidden;
	max-width: 100vw;
	margin: 0;
	color: $body--font-color;
	background-color: $body--background-color;
	font-family: $body--font-family;
	font-size: $body--font-size;
	font-weight: $font-weight--regular;
	line-height: $line-height--m;
}

a {
	color: $link--font-color;
	font-weight: $font-weight--semibold;
	text-decoration: none;
	transition: color $transition, background-color $transition;
	transition: all $transition;

	&:hover,
	&:focus {
		box-shadow: inset 0 -0.1em 0 $accent;
	}
}

p {
	margin: 0 0 1em;
	padding: 0;
}

hr {
	clear: both;
	margin: 30px 0;
	border: 0;
	border-top: $border;
	border-collapse: collapse;
}

b,
strong {
	font-weight: $font-weight--bold;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

mark {
	background: $mark--background-color;
}

blockquote {
	margin: 0 0 1em;
	padding: 0 1em;
	border-left: 3px solid $accent;
}
