.menu-toggle {
	display: flex;
	visibility: visible;
	z-index: $z-index--3;
	width: 4rem;
	height: 4rem;
	margin: auto 0 auto -0.7rem;
	padding: 0;
	color: $menu-toggle--font-color;
	background-color: $menu-toggle--background-color;
	font-family: $heading--font-family;
	line-height: $line-height--s;
	text-align: left;
	text-transform: uppercase;
	transition: none;
	justify-content: center;
	align-items: center;

	@include position(absolute, 0, null, 0, null);

	&:focus,
	&:hover {
		border-width: 0;
		color: $menu-toggle--font-color-hover;
		background-color: $menu-toggle--background-color;
	}

	&.activated {

		@include position(fixed, 1rem, auto, auto, auto);

		@include breakpoint(m) {
			top: 3rem;
		}

		.admin-bar & {
			top: 5.6rem;

			@include breakpoint(783px) {
				top: 6.2rem;
			}
		}
	}

	.hamburger,
	.hamburger:before,
	.hamburger:after {
		display: block;
		position: absolute;
		width: 2.5rem;
		height: 3px;
		background-color: $menu-toggle__hamburger--background-color;
		content: "";
		transition: background-color $transition;
	}

	.hamburger {
		top: auto;
		right: auto;
		bottom: auto;
		left: 0.7rem;
		margin: auto;

		&:before {
			top: -0.8rem;
		}

		&:after {
			bottom: -0.8rem;
		}
	}

	&.activated {

		.hamburger {
			background-color: transparent;

			&:before {
				top: 0;
				transform: rotate(45deg);
				background-color:$main;
			}

			&:after {
				bottom: 0;
				transform: rotate(-45deg);
				background-color:$main;
			}
		}
	}
}
