.genesis-nav-menu {

	.menu-item {
		display: inline-flex;
		overflow: hidden;
		position: relative;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		&:focus,
		&:hover {
			position: relative;
		}

	}

	a {
		display: block;
		padding: 1em;
		outline-offset: -1px;
		color: $genesis-nav-menu--font-color;
		font-family: $heading--font-family;
		font-size: $genesis-nav-menu--font-size;
		font-weight: $font-weight--regular;
		text-decoration: none;
		text-transform: uppercase;

		&:before {
			width: 100%;
			height: 3px;
			background-color: transparentize($accent, 0.1);
			content: " ";
			transform: rotate3d(1, 0, 0, 90deg);
			pointer-events: none;

			@include position(absolute, null, 0, 0, 0);
		}
	}

	.in-right:before {
		transform-origin: 100% 0%;
		animation: in-right 0.2s ease 0ms 1 forwards;
	}

	.in-top:before,
	.in-bottom:before {
		transform-origin: 50% 100%;
		animation: in-bottom 0.2s ease 0ms 1 forwards;
	}

	.in-left:before {
		transform-origin: 0% 0%;
		animation: in-left 0.2s ease 0ms 1 forwards;
	}

	.out-right:before {
		transform-origin: 100% 50%;
		animation: out-right 0.2s ease 0ms 1 forwards, change-color 0ms ease 0.2s 1 forwards;
	}

	.out-top:before,
	.out-bottom:before {
		transform-origin: 50% 100%;
		animation: out-bottom 0.2s ease 0ms 1 forwards, change-color 0ms ease 0.2s 1 forwards;
	}

	.out-left:before {
		transform-origin: 0% 0%;
		animation: out-left 0.2s ease 0ms 1 forwards, change-color 0ms ease 0.2s 1 forwards;
	}

	@keyframes change-color {

		from {
			background-color: $accent;
		}

		to {
			background-color: $black;
		}
	}

	@keyframes in-right {

		from {
			transform: rotate3d(0, -1, 0, 90deg);
		}

		to {
			transform: rotate3d(0, 0, 0, 0deg);
		}
	}

	@keyframes in-bottom {

		from {
			transform: rotate3d(1, 0, 0, 90deg);
		}

		to {
			transform: rotate3d(0, 0, 0, 0deg);
		}
	}

	@keyframes in-left {

		from {
			transform: rotate3d(0, 1, 0, 90deg);
		}

		to {
			transform: rotate3d(0, 0, 0, 0deg);
		}
	}

	@keyframes out-right {

		from {
			transform: rotate3d(0, 0, 0, 0deg);
		}

		to {
			transform: rotate3d(0, -1, 0, 104deg);
		}
	}

	@keyframes out-bottom {

		from {
			transform: rotate3d(0, 0, 0, 0deg);
		}

		to {
			transform: rotate3d(1, 0, 0, 104deg);
		}
	}

	@keyframes out-left {

		from {
			transform: rotate3d(0, 0, 0, 0deg);
		}

		to {
			transform: rotate3d(0, 1, 0, 104deg);
		}
	}

	a:focus,
	a:hover {
		text-decoration: none;
	}

	.current-menu-item > a {
		color: $genesis-nav-menu--font-color-hover;
	}

	> .menu-bold > a {
		font-weight: $font-weight--bold;
	}

	> .menu-highlight > a {
		margin-left: 15px;
		padding-right: 20px;
		padding-left: 20px;
		border-radius: 3px;
		color: $menu-highlight__link--font-color;
		background-color: $menu-highlight__link--background-color;
		font-weight: $font-weight--semibold;

		&:focus,
		&:hover {
			background-color: $menu-highlight__link--background-color-hover;
		}
	}
}
