.nav-secondary {
	display: flex;
	overflow-x: auto;
	z-index: $z-index--1;
	white-space: nowrap;
	justify-content: center;
	align-items: center;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	background-color:$black;

	&::-webkit-scrollbar {
		display: none;
	}

	@-moz-document url-prefix() {
		overflow: hidden;
	}

	.menu {
		display: flex;
		justify-content: center;

		&:focus {
			outline: none;
		}

		&.flickity-enabled {
			width: 100%;
		}

		.menu-item {
			margin-right: -1px;
			margin-left: -1px;
		}

		a {
			overflow: hidden;
		}
	}

	div {
		width: 100%;

		&:focus {
			outline: none;
		}
	}
}

