.site-footer {

	.menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
	}

	.menu-item {
		width: 30%;
		margin-bottom: 1em;

		a {
			font-family: $heading--font-family;
			font-size: small;
			font-weight: $font-weight--regular;
			text-transform: uppercase;

			@include breakpoint(xxs) {
				font-size: $genesis-nav-menu--font-size;
			}
		}
	}
}
