.nav-primary {
	display: flex;
	overflow: auto;
	z-index: $z-index--2;
	width: 30rem;
	max-width: 90vw;
	height: 100vh;
	background-color: $nav-primary--background-color;
	box-shadow: -30rem 0 0 $black;
	transition: all $transition;
	align-items: center;
	justify-content: center;

	@include position(fixed, 0, 110vw, 0, -110vw);

	&.visible {
		right: 0;
		left: calc(5vw - 1em);
	}

	.menu {
		clear: both;
		width: 100%;
		line-height: 1;
	}

	.menu-item {
		width: 90%;
		justify-content: flex-start;

		a {
			width: calc(100% - #{$spacing--m} - 1px);
			padding: 1em;

			&:hover,
			&:focus {
				color: $genesis-nav-menu--font-color-hover;
				box-shadow: none;
			}
		}
	}

	.sub-menu {

		.menu-item {
			width: 100%;
		}
	}
}
