.no-js {

	.site-header {

		.wrap {
			width: 100%;
			max-width: 100%;
		}
	}

	.nav-primary {
		display: flex;
		overflow-x: auto;
		z-index: $z-index--1;
		width: auto;
		max-width: none;
		height: auto;
		white-space: nowrap;
		justify-content: center;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		align-items: center;

		@include position(relative, auto, auto, auto, auto);

		@include breakpoint(m) {
			width: 100%;
		}

		&::-webkit-scrollbar {
			display: none;
		}

		.menu {

			@include breakpoint(m) {
				display: flex;
				justify-content: center;
			}
		}

		.menu-item {
			width: auto;

			a {
				width: auto;
				padding: 1em;
			}
		}
	}

	.menu-toggle,
	.sub-menu,
	.sub-menu-toggle,
	.search-toggle {
		display: none !important;
	}

	.nav-secondary {

		.menu {
			width: auto;

			@include breakpoint(m) {
				width: 100%;
			}
		}
	}
}
