.sub-menu-toggle {
	position: relative;
	width: $spacing--m;
	height: $spacing--m;
	padding: 0;
	background: $sub-menu-toggle--background-color;

	&:hover,
	&:focus {
		background: none;
	}

	&:before,
	&:after {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 0.8rem;
		height: 2px;
		margin: auto;
		background-color: $menu-toggle__hamburger--background-color;
		content: "";
	}

	&:before {
		left: 1.35rem;
		transform: rotate(45deg);
	}

	&:after {
		right: 1.35rem;
		transform: rotate(-45deg);
	}

	&.activated {

		&:before {
			transform: rotate(-45deg);
		}

		&:after {
			transform: rotate(45deg);
		}
	}
}
