.sub-menu {
	display: none;
	clear: both;
	z-index: $z-index--1;
	width: 100%;
	margin: 0;
	padding-left: 1em;

	a {
		position: relative;
		font-size: $genesis-nav-menu__sub-menu__link--font-size;
		word-wrap: break-word;
	}
}
