.alignfull {
	position: relative;
	left: 50%;
	width: 100vw;
	max-width: none;
	margin-left: -50vw;

	.content-sidebar &,
	.sidebar-content & {
		max-width: calc(100% + 12rem);
	}

	img {
		display: inline-block;
		width: 100%;
		margin: 1.618em auto;
	}
}

.alignwide {
	position: relative;
	left: 50%;
	width: 100vw;
	max-width: 120%;
	transform: translate(-50%);

	img {
		display: inline-block;
		margin: 1.618em auto;
	}
}

.clearfix {

	@include clearfix;
}

@keyframes fade-in {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-webkit-keyframes fade-in {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.hide-m {

	@media only screen and (max-width: $breakpoint--m) {
		display: none;
	}
}

.has-light-gray-background-color {
	background-color: $lightest-gray;
}

.has-light-gray-color {
	color: $lightest-gray;
}

.has-medium-gray-background-color {
	background-color: $medium-gray;
}

.has-medium-gray-color {
	color: $medium-gray;
}

.has-dark-gray-background-color {
	background-color: $dark-gray;
}

.has-dark-gray-color {
	color: $dark-gray;
}
