.wp-block-gallery {

	.entry-content & {
		margin-right: -8px;
		margin-left: -8px;

		&.alignfull {
			margin-right: auto;
			margin-left: -50vw;
		}
	}

	.blocks-gallery-item {

		figure {
			align-items: center;
		}
	}
}
