.wp-block-button {

	.wp-block-button__link {
		border-radius: 0;
		font-family: $heading--font-family;
		font-weight: $font-weight--regular;

		&:not(.has-background) {
			background-color: $button--background-color;

			&:active,
			&:focus,
			&:hover {
				background-color: $button--background-color-hover;
			}
		}
	}
}
