.wp-block-pullquote {
	margin-top: $spacing--m;
	margin-bottom: $spacing--m;
	padding: 0 $spacing--m;
	border-top: none;
	border-bottom: none;
	text-align: left;

	&.alignright {
		margin-left: $spacing--m;
	}

	cite {
		font-style: normal;
	}
}
