.comment-respond {
	margin-bottom: $spacing--s;
	font-size: $comments--font-size;

	input[type="email"],
	input[type="text"],
	input[type="url"] {

		@include breakpoint(m) {
			width: 50%;
		}
	}

	label {
		display: block;
	}
}
