.sidebar {
	margin-top: $spacing--m;
	font-size: $sidebar--font-size;

	@include breakpoint(m) {
		width: $sidebar--width;
		margin-top: 0;
	}

	.widget {
		margin-bottom: $spacing--m;
	}

	.featured-content {

		.entry {
			width: 100%;

			@include clearfix;

			> a {
				margin: 0 $spacing--s 0 0;
			}
		}

		.entry-header {
			float: left;
			max-width: calc(100% - 10rem - #{$spacing--s});
		}

		.entry-title {
			font-size: $base__font-size;
		}

		.entry-image {
			width: 10rem;
			height: 10rem;
		}

		.entry-meta {
			font-size: small;
			line-height: 1;
		}
	}

	.ad {
		width: 30rem !important;
	}
}
