.widget {

	.sidebar & {

		p:last-child,
		ul > li:last-of-type {
			margin-bottom: 0;
		}

		ul > li {
			margin-bottom: $spacing--xs;

			&:last-of-type {
				padding-bottom: 0;
			}
		}

		ol > li {
			padding-left: $spacing--s;
			text-indent: -$spacing--s;
			list-style-position: inside;
			list-style-type: decimal;
		}

		li li {
			margin: 0 0 0 $spacing--s;
			padding: 0;
			border: 0;
		}
	}
}

.widget_calendar {

	table {
		width: 100%;
	}

	td,
	th {
		text-align: center;
	}
}
