.widget-title {
	margin-bottom: $spacing--s;
	font-size: $widget-title--font-size;
	font-weight: $font-weight--semibold;
	text-transform: uppercase;

	.sidebar & a {
		color: $sidebar__widget-title--font-color;
		text-decoration: none;
	}
}
